<div layout="column">
    <div flex layout="column"  class="md-whiteframe-z4">
        <!--
        <md-toolbar class="md-toolbar-tools">Meu carrinho de compras</md-toolbar>
        <md-content>
            <table class="table my-cart-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Remover</th>
                        <th>Informaçoes do produto</th>
                        <th>Quantidade do Pedido</th>
                        <th>Preço unitário</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>


                <tbody>
                    <center>
                        <tr ng-repeat="products in vm.meuCarrinho track by $index" md-whiteframe-z4>
                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                <md-checkbox></md-checkbox>
                            </td>
                            <td>
                                <p>{{products.nome}} {{products.categoria}} {{products.marca}} tela {{products.tamanho_tela}}" {{products.frequencia}}</p>
                            </td>

                            <td>
-->
        <!--                                <button ng-click="vm.getQuantidade($index, -1)">-</button>-->
        <!--
                                <md-input-container>
                                    <input style="text-align:center" type="number" maxlength="3" step="1" ng-model="vm.quantidade[$index]" ng-click="vm.getQuantidade($index, vm.quantidade[$index])" min="1" max="100" />
                                </md-input-container>
-->
        <!--                                <button value="1" ng-click="vm.getQuantidade($index, 1)">+</button>{{vm.getQuantidade[$index]}}-->
        <!--
                                <button class="btn btn-link" ng-click="vm.removeItendaCesta($index)" ui-sref="app.minhaCesta">Remover item</button>
                            </td>
                            <td>
                                <p>R$ {{products.preco}}</p>
                                {{vm.quantidade[$index]}}
                            </td>
                            <td>
                                <p>R$ {{products.preco_total}}</p>
                            </td>
                        </tr>
                    </center>
                </tbody>
            </table>
-->


        <div flex hide-sm layout="row" layout-padding layout-sm="column" style="background-color:red">
            <div flex="5">
                <p><b>Item</b>
                </p>
            </div>

            <div flex="15">
                <p><b>No. ref. da MP</b>
                </p>
            </div>
            <div flex="15">
                <p><b>No. ref. do Fabricante</b>
                </p>
            </div>
            <div flex="28">
                <p><b>Descrição</b>
                </p>
            </div>
            <div flex="10">
                <p><b>Qtd. do pedido</b>
                </p>
            </div>
            <div flex="8">
                <p><b>Preço unit.</b>
                </p>
            </div>
            <div flex="8">
                <p><b>Subtotal</b>
                </p>
            </div>
            <div flex="10">
                <p><b>Remover</b>
                </p>
            </div>

        </div>

        <div flex layout="row" layout-padding layout-sm="column" ng-repeat="products in vm.meuCarrinho track by $index">
            <div flex="100" flex-gt-sm="5">
                {{$index+1}}
            </div>

            <div flex="15">
                <md-button md-no-ink ng-href="#" class="md-primary ">652-CHV2512JW107ELF</md-button>
            </div>
            <div flex="15">
                CHV2512-JW-107ELF
            </div>
            <div flex="28">
                <p>Resistores de Filme Espesso - SMD 100M 1W 5% TCR200 RES SMD</p>
            </div>
            <div flex="10">
                <md-input-container>
                    <input style="text-align:center" type="number" maxlength="3" step="1" ng-model="vm.quantidade[$index]" ng-click="vm.getQuantidade($index, vm.quantidade[$index])" min="1" max="100" />
                </md-input-container>
            </div>
            <div flex="8" layout="column" layout-align="center end">
                <p>R$ {{products.preco}}</p>
            </div>
            <div flex="8" layout="column" layout-align="center end">
                <p>R$ {{products.preco_total}}</p>
            </div>

            <div flex="100" flex-gt-sm="10" layout-margin>
                <md-button ng-click="vm.removeItendaCesta($index)" ui-sref="app.minhaCesta">
                    <md-icon class="md-icon-button"><i class="material-icons">delete</i>
                    </md-icon>
                </md-button>
            </div>
        </div>
        <div flex layout="row" layout-padding layout-align="end center" > <p class="md-button"></p>{{vm.precoSubTotal}}</div>
        <div  flex layout="row" layout-fill layout-align="end center">
            <md-button ng-click="vm.finalizarCompra()" class="md-primary md-raised">Finalizar Compra</md-button>
            <md-button class="md-accent md-raised">Continuar Compras</md-button>
        </div>


        <!--        </md-content>-->
    </div>
</div>