<md-toast class="md-toast">
    <!--    <div flex>-->
<!--    <md-content>-->
        <div flex>
            <md-list>
                <md-list-item>
                    <p>Paapa</p>
                    <p>PApa</p>
                </md-list-item>
                <md-list-item>Helfdflo</md-list-item>
                <md-list-item>Heldfdlo</md-list-item>
                <md-list-item>Heldfvco</md-list-item>
                <md-list-item>Helttylo</md-list-item>
                <md-list-item>Helykkjlo</md-list-item>
                <md-list-item>Helldsdso</md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-button ng-click="vm.closeToast()">
                Close
            </md-button>
        </div>
<!--    </md-content>-->
    <!--    </div>-->
</md-toast>
