<div layout="row" layout-margin layout-align="center start">
    <div flex="90" flex-offset="50" class="md-whiteframe-z4">
        <md-toolbar class="md-toolbar-tools md-whiteframe-z4">Resistores</md-toolbar>
        <table class="prd-list-table">
            
            <col span="1" style="width: 10%;">
                <col span="1" style="width: 8%;">
                    <col span="1" style="width: 8%;">
                        
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 3%;">
                        <col span="1" style="width: 3%;">
                        <col span="1" style="width: 1%;">
                        <col span="1" style="width: 3%;">
                        <col span="1" style="width: 3%;">
                        <col span="1" style="width: 3%;">
                        <col span="1" style="width: 3%;">


            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>No. ref. da M P</th>
                    <th>No ref. do fabricante</th>
                    <th>Descricao</th>
                    <th>Ficha Técnica</th>
                    <th>Disp.</th>
                    <th>Preço Unit.</th>
                    <th>Qtd.</th>
                    <th>Acabamento</th>
                    <th>Acabamento</th>
                    <th>Acabamento</th>
                    <th>Acabamento</th>
                </tr>
            </thead>


            <tbody>

                <tr class="my-md-ordering-btn">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div layout="row">
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('disponibilidade')"><i class="material-icons">keyboard_arrow_up</i>
                            </md-button>
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('-disponibilidade')"><i class="material-icons">keyboard_arrow_down</i>
                            </md-button>
                        </div>
                    </td>
                    <td>
                        <div layout="row">
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('preco')"><i class="material-icons">keyboard_arrow_up</i>
                            </md-button>
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('-preco')"><i class="material-icons">keyboard_arrow_down</i>
                            </md-button>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div layout="row">
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('acabamento')"><i class="material-icons">keyboard_arrow_up</i>
                            </md-button>
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('-acabamento')"><i class="material-icons">keyboard_arrow_down</i>
                            </md-button>
                        </div>
                    </td>
                    <td>
                        <div layout="row">
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('resistencia')"><i class="material-icons">keyboard_arrow_up</i>
                            </md-button>
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('-resistencia')"><i class="material-icons">keyboard_arrow_down</i>
                            </md-button>
                        </div>
                    </td>
                    <td>
                        <div layout="row">
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('potencia')"><i class="material-icons">keyboard_arrow_up</i>
                            </md-button>
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('-potencia')"><i class="material-icons">keyboard_arrow_down</i>
                            </md-button>
                        </div>
                    </td>
                    <td>
                        <div layout="row">
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('acabamento')"><i class="material-icons">keyboard_arrow_up</i>
                            </md-button>
                            <md-button class="my-md-icon-btn" ng-click="vm.ordering('-acabamento')"><i class="material-icons">keyboard_arrow_down</i>
                            </md-button>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="products in vm.prdData|orderBy:vm.order">
                    <td class="product-image">
                      
                            <img src="../../assets/img/resistor/resistor.png">
               
                    </td>
                    <td>
                        <md-button class="md-primary my-md-link-btn" ui-sref="app.produtos.section.category.detail({id:products._id})" ng-click="vm.storeIdProductDetail(products._id)">{{products.ref_PM}}</md-button>
                    </td>
                    <td>
                        <md-button class=" md-primary my-md-link-btn" ng-href="#/app/produtos/categoria/{{productsCategory.category}}/{{products._id}}" ng-click="vm.storeIdProductDetail(products._id)">{{products.ref_fabricante}}</md-button>
                    </td>
                    <td>Condensadores de tântalo - revestimento sólido de SMD 10uF, 16.0V, +/-20% -55C +125C</td>
                    <td>PDF</td>
                    <td>{{products.disponibilidade}}<span style="display:block">Em estoque</span>
                    </td>
                    <td>R$ {{products.preco}}</td>
                    <td>
                        <md-input-container>
                            <input type="number" min="1" value="{{vm.prdQty}}" ng-model="vm.prdQty" aria-label="quantidade">
                        </md-input-container>
                        <md-button class="md-warn md-raised" ng-href="#/app/produtos/categoria/{{productsCategory.category}}/{{products._id}} class=">
                            Comprar
                        </md-button>
                    </td>
                    <td>{{products.acabamento}}</td>
                    <td>{{products.resistencia}} R</td>
                    <td>{{products.potencia}} W</td>
                    <td>{{products.toleranncia}} %</td>
                </tr>
                <md-divider></md-divider>
            </tbody>
        </table>
    </div>

</div>

