<md-content layout="column">
    <md-card class="my-md-no-shadow my-md-no-padding">
        <md-card-content class="my-md-no-padding" layout="column" layout-gt-md="row" layout-align="center top">

            <md-card hide-xs hide-sm flex-order-xs="1" flex-order-gt-md="0" layout="column" layout-align="center center" class="my-md-no-shadow my-md-no-padding-right my-md-no-padding-left " flex-gt-md="40" id="imagem" class="my-md-no-shadow">
                <md-card-content flex layout-align="center center" class="my-md-no-padding-right my-md-no-padding-left">
                    <img id="zoom_01" src="../../assets/img/prdDetail/small/image1.png" data-zoom-image="../../assets/img/prdDetail/large/image1.jpg" />
                    <div id="gal1">
                        <a href="#" data-image="../../assets/img/prdDetail/small/image1.png" data-zoom-image="../../assets/img/prdDetail/large/image1.jpg">
                            <img id="zoom_01" src="../../assets/img/prdDetail/thumb/image1.jpg" />
                        </a>
                        <a href="#" data-image="../../assets/img/prdDetail/small/image2.png" data-zoom-image="../../assets/img/prdDetail/large/image2.jpg">
                            <img id="zoom_01" src="../../assets/img/prdDetail/thumb/image2.jpg" />
                        </a>
                        <a href="#" data-image="../../assets/img/prdDetail/small/image3.png" data-zoom-image="../../assets/img/prdDetail/large/image3.jpg">
                            <img id="zoom_01" src="../../assets/img/prdDetail/thumb/image3.jpg" />
                        </a>
                        <a href="#" data-image="../../assets/img/prdDetail/small/image4.png" data-zoom-image="../../assets/img/prdDetail/large/image4.jpg">
                            <img id="zoom_01" src="../../assets/img/prdDetail/	thumb/image4.jpg" />
                        </a>
                    </div>
                </md-card-content>
            </md-card>
            <md-divider></md-divider>
            <md-card layout="column" class="my-md-no-shadow my-md-no-padding-right my-md-no-padding-left " flex-gt-md="40" label="infos">
                <md-card-content class="my-md-no-padding-right my-md-no-padding-left ">
                    <md-title>
                        <h4 class="md-title my-md-capital">{{vm.prdData.descricao}}</h4>
                    </md-title>
                    <md-card label="rating" class="my-md-no-shadow my-md-no-padding-right my-md-no-padding-left ">
                        <span class="my-md-border-bottom" layout="row" layout-wrap layout-align="center center">
                        <div class="product-rating" ng-mouseenter="vm.showHideRatingPopOver()" ng-mouseleave="vm.showHideRatingPopOver()">
                            <md-button class=" my-md-link-btn" style="z-index=2" >
                                <div style="font-size:14px" awesome-rating="6" class="fa fa-2x" awesome-rating-options="vm.awesomeRatingOptions">
                                </div>
                                <md-icon class="material-icons">arrow_drop_down</md-icon>
                            </md-button>
                            <div class="rating-pop-over" ng-show=" vm.isShowPopOver">
                                <md-card class="my-md-no-margin">
                                    <md-list>
                                        <md-list-item ng-repeat="prdRating in  vm.productRating">
                                            <md-button class="md-primary my-md-link-btn md-icon-button my-md-no-padding">{{prdRating.stars}}</md-button>
                                            <md-progress-linear md-mode="determinate" value="{{prdRating.qty}}"></md-progress-linear>
                                            <p layout-padding class="md-subheader">{{prdRating.percent}}%</p>
                                        </md-list-item>
                                    </md-list>
                                </md-card>
                            </div>
                        </div>
                        <div id="reviews-total">
                            <md-button ng-click="vm.showAlert()" class="md-primary my-md-link-btn">20 avaliações</md-button>

                        </div>
                        <div flex>
                            <md-button ng-click="vm.reviewDialog($event)" class="md-primary md-hue-2 my-md-link-btn">Avaliar</md-button>
                        </div>
					</span>
                    </md-card>
                    <md-card hide-gt-sm flex-order-xs="1" flex-order-gt-md="0" layout="column" layout-align="center center" class="my-md-no-shadow " flex-gt-md="40" id="imagem">
                        <md-card-content flex layout-align="center center" class="my-md-no-padding-right my-md-no-padding-left ">
                            <img id="zoom_01" src="../../assets/img/prdDetail/small/image1.png" data-zoom-image="../../assets/img/prdDetail/large/image1.jpg" />
                        </md-card-content>
                    </md-card>
                    <md-card label="pricing" class="my-md-no-shadow">
                        <md-card-content>
                            <h2 class="md-subheader"><b>Preço:</b> <span class="md-title my-md-warn-DeepOrange">{{vm.prdData.preco| currency:"R$ "}}</span></h2>
                            <h2 class="md-subhead my-md-warn-grey">Em estoque.</h2>
                            <!--                            <div>-->

                        </md-card-content>
                    </md-card>
                    <md-card label="shipping" class="my-md-no-shadow">
                        <md-card-content class="my-md-no-padding">
                            <md-list layout="row" class="my-md-grey-bg">
                                <md-list-item flex layout-align="center center">
                                    <md-button layout="column" layout-wrap class="md-primary my-md-normlWhiteSpace my-md-link-btn">
                                        <md-icon flex class="material-icon">local_shipping</md-icon><span><p>Frete e prazos de entrega</p></span>
                                    </md-button>

                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item flex layout-align="center center">
                                    <md-button layout="column" class="md-primary my-md-normlWhiteSpace">
                                        <md-icon class="material-icon"><i class="mdi mdi-credit-card"></i>
                                        </md-icon><span>Formas de pagamento</span>
                                    </md-button>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                    <md-divider></md-divider>
                    <md-card label="share" class="my-md-no-shadow" layout-align="center center">
                        <md-title>
                            <span class="md-subheader"><b>Compartilhar</b> <span><md-icon class="material-icons">share</md-icon></span></span>
                        </md-title>
                        <md-card-content layout="row">
                            <md-list layout="row">
                                <md-list-item ng-repeat="socialButton in vm.social">
                                    <md-button class="md-icon-button md-primary md-hue-1" style="border:solid 1px">
                                        <i class="mdi {{socialButton.icon}} md-primary md-hue-3 material-icons md-24"></i>

                                    </md-button>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </md-card-content>
            </md-card>
            <md-card flex-gt-md="20" id="infos">
                <md-card-content>
                    <div layout="column">
                        <h4 class="md-subheader "><span class="md-tilte"><b>Disponibilidade: </b>{{vm.prdData.disponibilidade}}</span></h4>
                        <span layout-margin></span>
                        <h3 class="md-subheader">
						Qty min: <span class="md-subhead">10</span>
						</h3>
                        <span layout-margin></span>
                        <md-input-container class="md-block">
                            <label>Quantidade:</label>
                            <input ng-model="vm.prdQty" aria-label="quantity" type="number" min="1" max="10" value="1" style="text-align:center">
                        </md-input-container>
                        <md-button class="md-primary md-raised" ng-click="vm.prdGetBuy(vm.prdQty); vm.showJanoCarrinhoDiag($event)">
                            <md-icon class="material-icons md-primary">shopping_cart</md-icon>Comprar
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>
    <md-divider></md-divider>
    <md-card class="my-md-no-shadow">
        <md-tabs>
            <md-tab label="Caraterísticas">
                <md-list>
                    <md-list-item ng-repeat="(key, val) in vm.prdData.caracteristicas" ng-class="{even:$even, odd:$odd}">
                        <p class="md-subheader my-md-capital"><b>{{val.nome}}</b>
                        </p>
                        <p>{{val.valor}}</p>
                    </md-list-item>
                </md-list>
            </md-tab>
            <md-tab label="Avaliações">
            </md-tab>
        </md-tabs>
    </md-card>
</md-content>