<!--
<md-toolbar class="md-toolbar-tools">Titulo</md-toolbar>
<div layout="column" layout-wrap layout-align="center start" layout-xs="column">
    <div flex="100" flex-sm="100" flex-xs="100" layout="row" class="subsect-menu">
        <md-card flex="60">
            <md-card-title>
-->
<!--
                
                 <md-card-title-text>
                    <span class="md-headline">Resistor</span>
                </md-card-title-text>
-->

<!--
                <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img class="md-card-image" src="../../assets/img/resistor/resistor.png">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
                <md-button layout="column" layout-align="center center" flex="100" class="md-primary md-raised" ng-click="vm.showListBottomSheet($event)">
                    <div flex>Resistores</div>
                    <span flex><i class="material-icons">expand_more</i></span>

                </md-button>
            </md-card-actions>
        </md-card>
        <md-card flex="60">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Capacitores</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img class="md-card-image" src="../../assets/img/resistor/resistor.png">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex="60">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Indutores</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img class="md-card-image" src="../../assets/img/resistor/resistor.png">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div ng-show="vm.showSubsec" class="animate-show md-whiteframe-z4" style="background-color:red">
        <md-card>
-->
<!--        <md-card-title>-->
<!--            <md-card-title-media>-->
<!--
            <div class="md-media-sm card-media" layout-align="center center">
                <img class="md-card-image" src="../../assets/img/resistor/resistor.png">
            </div>
-->
<!--            </md-card-title-media>-->
<!--        </md-card-title>-->
<!--
            <md-card-actions layout="column" layout-align="end center">
                <md-button class="md-primary" ng-click="vm.showListBottomSheet($event)">Subcategorias</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
-->

<!--
<md-content layout="row" layout-wrap layout-align="center start" layout-xs="column" >
    <div flex="60" flex-sm="100" flex-xs="100" layout="column" layout-aling="center center" style="background-color:#F5F5F5">
        <div flex flex-offset="33" layout="row" layout-align="center center" layout-wrap class="subsect-menu">
            <md-card flex="20">
                <div class="md-media-md card-media" layout-padding>
                    <img class="md-card-image md-whiteframe-z4" src="../../assets/img/passivos/resistor.jpg">
                </div>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button layout="column" layout-align="center center" flex="100" class="md-primary md-raised" ng-click="vm.showListBottomSheet($event)">
                        <div flex>Resistores</div>
                        <span flex><i class="material-icons">expand_more</i></span>

                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="20">
                <div class="md-media-md card-media" layout-padding>
                    <img class="md-card-image md-whiteframe-z4" src="../../assets/img/passivos/resistor.jpg">
                </div>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button layout="column" layout-align="center center" flex="100" class="md-primary md-raised" ng-click="vm.showListBottomSheet($event)">
                        <div flex>Resistores</div>
                        <span flex><i class="material-icons">expand_more</i></span>

                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="20"  md-whiteframe-z4>
                <div class="md-media-md card-media" layout-padding>
                    <img class="md-card-image md-whiteframe-z4" src="../../assets/img/passivos/resistor.jpg">
                </div>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button layout="column" layout-align="center center" flex="100" class="md-primary md-raised" ng-click="vm.showListBottomSheet($event)">
                        <div flex>Resistores</div>
                        <span flex><i class="material-icons">expand_more</i></span>

                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="20">
                <div class="md-media-md card-media" layout-padding>
                    <img class="md-card-image md-whiteframe-z4" src="../../assets/img/passivos/resistor.jpg">
                </div>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button layout="column" layout-align="center center" flex="100" class="md-primary md-raised" ng-click="vm.showListBottomSheet($event)">
                        <div flex>Resistores</div>
                        <span flex><i class="material-icons">expand_more</i></span>

                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="20">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="20">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>sds 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="20">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>sds 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
            <md-card flex="25">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card with image</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>sds 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>
-->
<div layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Categorias</h1>
            <md-switch ng-model="vm.isShowAllSections"></md-switch>
            {{vm.isShowAllSections}}
        </md-toolbar>
        <md-content>
            <md-list class="my-md-no-padding">
                <div layout="row" ng-repeat="sections in vm.productNavCategories">
                    <md-button flex layout="row" class="md-primary my-md-no-margin my-md-noround-border" layout-padding layout-align="start center" ng-click="vm.showSubsection($index)">{{sections.name}}</md-button>
                    <md-divider></md-divider>

                </div>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-card flex>
        <!--            <md-list>-->
        <div ng-repeat="sections in vm.productNavCategories">
            <!--                    <md-button class="md-primary" ng-click="vm.showSubsection($index)">{{sections.name}}</md-button>-->
            <md-card class="my-md-no-shadow" ng-show="($index==vm.isShowSubsection) || vm.isShowAllSections">
                <md-card-title class="my-md-border-bottom my-md-grey-bg">
                    <h1 class="md-headline">{{sections.name}}</h1>

                </md-card-title>

                <md-grid-list md-cols="4" md-gutter="1px" md-row-height="2:2" md-rowspan="3">

                    <md-grid-tile ng-repeat="subsections in vm.productNavCategories[$index].subcat" ui-sref="app">
                        <md-button class="md-primary">
                            <img ng-src="{{subsections.imgPath}}">
                            <!--
                            <md-grid-tile-footer>
                                <h3>{{subsections.name}}</h3>
                            </md-grid-tile-footer>
-->
                            <h4 class="md-subhead">{{subsections.name}}</h4>
                        </md-button>
                    </md-grid-tile>
                </md-grid-list>
            </md-card>
        </div>
        <!--            </md-list>-->
    </md-card>
</div>