<div layout="row" layout-align="center start">
    <div flex layout=column class="md-whiteframe-z4" style="background-color:#f5f5f5">
        <md-card id="search-info" ng-show="vm.searchTotal">
            <md-card-title>
                <h3 class="md-headline">Sua busca retorno {{vm.searchTotal}} resultados</h3>
            </md-card-title>
            <md-card-content>
                {{vm.subsec}}
                <md-card>
                    <md-card-title>
                        <span class="md-title">Categorias</span>
                    </md-card-title>
                    <md-card-content layout="row">
                        <div ng-repeat="sections in vm.searchSections">
                            <md-list ng-repeat="sections in vm.searchSections">
                                <md-list-item>
                                    <md-checkbox ng-model="message.selected" class="md-primary">
                                    </md-checkbox>
                                    <p>{{sections}}</p>
                                </md-list-item>
                                <md-list ng-repeat="subsections in vm.searchSubSections">
                                    <md-list-item>
                                        <md-checkbox ng-click="vm.getSubSections(subsections, vm.selected)" ng-model="vm.subsec[$index]" class="md-primary">
                                        </md-checkbox>
                                        <p>{{subsections}}</p>
                                    </md-list-item>
                                </md-list>
                                <p>Total de itens:{{vm.totalLeft}}</p>
                            </md-list>
                        </div>
                    </md-card-content>
                </md-card>
            </md-card-content>

        </md-card>

        <!--
        <md-button class="md-primary md-raised" flex="15" style="max-width:15%" ng-click="vm.showHideFilters()">{{vm.buttonText}}
            <md-icon class="material-icons">{{vm.showFilterIcon}}</md-icon>
        </md-button> 
-->
        <div flex layout="colum" layout-align="center center">
            <md-button class="my-md-btn-icon-below my-md-float-btn md-warn md-raised" style="max-width:15%" ng-click="vm.showHideFilters()">
                Filtros
                <md-icon class="md-button-icon material-icons">{{vm.showFilterIcon}}</md-icon>
            </md-button>
        </div>
        <md-card ng-show="vm.showFilters" class="my-md-filter-area cssSlideUp my-md-no-shadow" layout="column" style="background-color:#f5f5f5">
            <md-card-content>
                <div layout="row" class="prd-filter-list" layout-align="start center">
                    <md-card flex="25" ng-repeat="(key, val) in vm.filterData" layout="column">
                        <md-card-title>
                            <h4 class='md-subhead my-md-capital'><b>{{key}}</b></h4>
                        </md-card-title>
                        <md-divider></md-divider>
                        <md-content layout="column" style="height:180px">
                            <md-card-content>
                                <md-list>
                                    <md-list-item class="my-md-filter-list" ng-repeat="values in val">
                                        <md-checkbox aria-label="caract filter" ng-model="vm.caractFilter[values.$$hashKey]" ng-click="vm.comFilter(values, vm.caracArrayToFilt)"></md-checkbox>
                                        {{values.valor}}
                                    </md-list-item>
                                </md-list>

                            </md-card-content>
                        </md-content>
                    </md-card>
                </div>
            </md-card-content>
        </md-card>
        <md-divider></md-divider>

        <md-card class="my-md-no-margin" layout="row" layout-align="space-between center" layout-padding>
            <div flex="10">
                <md-input-container class="md-block">
                    <label>Itens por página</label>
                    <md-select ng-model="vm.itemPerPage">
                        <md-option ng-value="opt" ng-repeat="opt in vm.itemPerPageArr">{{opt}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="50">
                <section class="navigate-group-btn" layout="row" layout-align="end center">
                    <span layout="row" layout-margin><h4 class="md-subhead"><b>Página</b>:</h4></span>
                    <md-button ng-disabled="vm.disablePrevBtn" class="md-primary groupX left" ng-click=" vm.gotoFirstPage()"><i class="material-icons">first_page</i>
                    </md-button>
                    <md-button ng-disabled="vm.disablePrevBtn" class="md-primary  groupX middle" ng-click="vm.prevPage()"><i class="material-icons">navigate_before</i>
                    </md-button>
                    <div ng-repeat="page in vm.pages">
                        <md-button ng-model="vm.currentPage" class="md-warn groupX middle" ng-click="vm.changePage(page)" ng-class="vm.isActive(page)">{{page}}</md-button>
                    </div>
                    <md-button ng-disabled="vm.disableNextBtn" class="md-primary groupX middle" ng-click="vm.nextPage()"><i class="material-icons">navigate_next</i>
                    </md-button>
                    <md-button ng-disabled="vm.disableNextBtn" class="md-primary groupX right" ng-click="vm.goTolastPage()"><i class="material-icons">last_page</i>
                    </md-button>
                </section>
            </div>
        </md-card>
        <md-divider></md-divider>
        <md-toolbar class="my-md-toolbar-header md-hue-2">
            <md-card class="my-md-no-padding my-md-no-margin" style="background-color:transparent">
                <md-card-content class="my-md-no-padding my-md-no-margin">
                    <md-list layout-gt-sm="row">
                        <md-list-item flex ng-repeat="fixedCols in vm.prdFixedCols" flex-gt-sm="{{vm.columnsSizes[$index]}}">
                            <span class="my-md-capital my-md-bold">{{fixedCols}}</span>
                        </md-list-item>
                        <md-list-item flex ng-repeat="caractName in vm.caract[0]" flex-gt-sm="{{vm.columnsSizes[1]}}">
                            <span class="my-md-capital my-md-bold">{{caractName.nome}}</span>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </md-toolbar>

        <md-card class="my-md-no-margin my-md-noround-border" ng-repeat="prd in vm.prdData | orderBy:vm.order|limitTo:vm.itemPerPage:vm.start|filter:search" ng-class="{even:$even, odd:$odd}">
            <md-card-content>
                <md-list layout-gt-sm="row">

                    <md-list-item flex-gt-sm="{{vm.columnsSizes[1]}}">
                        <img ng-src={{prd.imagens}}>
                    </md-list-item>
                    <md-list-item flex-gt-sm="{{vm.columnsSizes[1]}}">
                        <md-button href="#/app/produtos/categoria/{{prd.categoria}}/{{prd._id}}" class="md-primary my-md-link-btn">{{prd.ref_PM}}</md-button>
                    </md-list-item>
<!--
                    <md-list-item flex-gt-sm="{{vm.columnsSizes[2]}}"><span class="md-subhead">{{prd.ref_fabricante}}</span>
                    </md-list-item>
-->
                    <md-list-item flex-gt-sm="{{vm.columnsSizes[2]}}" href="#/app/produtos/categoria/{{prd.categoria}}/{{prd._id}}"><md-button class="md-primary md-hue-2 my-md-normlWhiteSpace my-md-link-btn"><span class="my-md-capital md-subhead">{{prd.descricao}}</span></md-button>
                    </md-list-item>
                    <md-list-item flex-gt-sm="{{vm.columnsSizes[3]}}"><span class="md-subhead">{{prd.disponibilidade}}</span>
                    </md-list-item>
                    <md-list-item flex-gt-sm="{{vm.columnsSizes[5]}}"><md-button class="md-warn my-md-link-btn"><p class="md-title">{{prd.preco | currency:"R$ "}}</p></md-button>
                    </md-list-item>
                    <md-list-item flex-gt-sm="{{vm.columnsSizes[4]}}">
                        <md-input-container class="md-block">
                            <input aria-label="quantity" type="number" min="1" max="{{prd.disponibilidade}}" value="{{vm.prdQty[$index+vm.start+vm.itemPerPage]}}" ng-model="vm.prdQty[$index+vm.start+vm.itemPerPage]" aria-label="quantidade" style="text-align:center">
                            <md-button class="md-primary md-raised" ng-click="vm.prdGetBuy(vm.prdQty[$index], prd._id); vm.showJanoCarrinhoDiag($event)">
                                Comprar
                            </md-button>
                        </md-input-container>
                    </md-list-item>

                    <md-list-item layout-align="center center" ng-repeat="val in prd.caracteristicas" flex-gt-sm="{{vm.columnsSizes[5]}}">
                        <span class="md-subhead">{{val.valor}}</span>
                    </md-list-item>

                </md-list>
            </md-card-content>
<!--            <md-divider></md-divider>-->
        </md-card>
        <md-divider></md-divider>
        <md-card flex layout="row" class="my-md-no-margin" layout-align="end center">
            <div><b>Página</b>:</div>
            <md-button ng-disabled="vm.disablePrevBtn" class="md-primary groupX left" ng-click=" vm.gotoFirstPage()"><i class="material-icons">first_page</i>
            </md-button>
            <md-button ng-disabled="vm.disablePrevBtn" class="md-primary  groupX middle" ng-click="vm.prevPage()"><i class="material-icons">navigate_before</i>
            </md-button>
            <div ng-repeat="page in vm.pages">
                <md-button ng-model="vm.currentPage" class="md-warn groupX middle" ng-class="vm.isActive(page)" ng-click="vm.changePage(page)">{{page}}</md-button>
            </div>
            <md-button ng-disabled="vm.disableNextBtn" class="md-primary  groupX middle" ng-click="vm.nextPage()"><i class="material-icons">navigate_next</i>
            </md-button>
            <md-button ng-disabled="vm.disableNextBtn" class="md-primary groupX right" ng-click="vm.goTolastPage()"><i class="material-icons">last_page</i>
            </md-button>
        </md-card>
    </div>


</div>

