<md-dialog aria-label="newAddressForm" ng-cloak>
    <form name="addNewAddressForm" ng-submit="addNewAddressForm.$valid &&  vm.addNewAddress(vm.newAddress)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adicionar novo endereço de entrega</h2>
                <span flex></span>
                <md-button ng-click="cancelDialog()" class="md-icon-button">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" flex="100">

            </div>
        </md-dialog-content>
    </form>
</md-dialog>
