<div style="margin-top:200px" class="container">
    <div class="container">
        <h1>Detalhes do produto</h1>
        <h1><strong>{{vm.selectedProduct.nome}}</strong></h1>

        <h3>{{vm.selectedProduct.caracteristicas}} {{vm.selectedProduct.categoria}} {{vm.selectedProduct.tamanho_tela}}" {{vm.selectedProduct.frequencia}}  {{vm.products.marca}}   
        </h3>
        <h3 style="color:red">R$ {{vm.selectedProduct.preco}}</h3>

        <div class="input-group">
	        <!-- Quando ele utilizar esse span, será mostrado quantas pessoas avaliaram com cada estrela-->
	        <!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalV" ng-click="getProdutoVisualizacao(products)">{{products.avaliacao.media || "Não avaliado"}} &#9733</button>-->

	        <a type="button" class="btn btn-default" ng-click="vm.armazenarInformacao(vm.selectedProduct._id, vm.selectedProduct.nome)" ng-href="#/app/avaliacao/{{vm.selectedProduct._id}}">Avalie!</a>

	        <!--<modal-visualizacao></modal-visualizacao>-->
	    </div>
	    <br>

        <button class="btn btn btn-danger" ng-click="vm.getCompra()">Adicionar ao Carrinho</button>
        <button class="btn btn btn-danger"><a ui-sref="app.minhaCesta">Ir para o carrinho</a></button>

        <button class="btn btn btn-success" ng-click="vm.getCompra()">Adicionar ao Carrinho</button>
<!--        <button class="btn btn btn-danger"><a ui-sref="app.minhaCesta">Ir para o carrinho</a>-->
        </button>
<!--        Esta div só será exibida se o produto selecionado já está no carrinho-->
        <br/>
        <div ng-show="vm.idExists">
            <h3><span class="label label-danger">Este produto já se encotra no carrinho</span></h3>
            <a ui-sref="app.minhaCesta">Ir para o carrinho</a>
           
        </div>
    </div>
</div>
