<!--<div layout="rwo" layout-align="center center" layout-sm="column">-->

<!--<div layout="column" style="height:500px;">-->
<div class="container-fluid">
    <div layout="column">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left fixed md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Filtros</h1>
                </md-toolbar>
                <md-content flex role="navigation" layout-padding>
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <md-list ng-repeat="filtersName in vm.myFiltersMarca[0] track by $index">
                        <md-button style="width:90%" class="md-button-toggle  primary" ng-model="vm.isCollapsed[$index]" ng-click="vm.getSelectedFiltersName($index, vm.isCollapsed[$index])">
                            <div layout="row" layout-align="space-between center">
                                <div class="btn-title">
                                    <h4 md-title>{{filtersName}}</h4>
                                </div>
                                <div>
                                    <md-icon md-svg-src="md-toggle-arrow"></md-icon>
                                </div>
                            </div>
                        </md-button>
                        <div collapse="vm.isCollapsed[$index]">
                            <md-list-item ng-repeat="(key, val) in vm.myFiltersMarca[$index+1]">
                                <div flex>
                                    <md-checkbox class="md-primary" ng-model="vm.filterBy.val" ng-true-value="'str,{{filtersName}},{{val}}'" ng-false-value="'null,{{filtersName}},{{filters.marca}}'" ng-click="vm.filtroComum(vm.filterBy.val)" aria-label="{{val}}">
                                        {{val}}
                                    </md-checkbox>
                                    <md-divider></md-divider>
                                </div>
                            </md-list-item>
                        </div>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content class="md-padding md-whiteframe-z3">
                <div>
                    <md-button ng-click="toggleLeft()" class="btn-toggle-left-nav md-primary" hide-gt-md>
                        Toggle left
                    </md-button>
                </div>
                <div layout="row">
                    <md-input-container>
                        <label>State</label>
                        <md-select ng-model="select">
                            <md-option value="Para">Para</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="produtos-show-area">
                    <div class="row">
                                                <div class=" mycol col col-xs-10 col-sm-6 col-md-2 col-lg-3" ng-repeat="products in vm.productsByCategory">
<!--                        <div class=" mycol col-md-3" ng-repeat="products in vm.productsByCategory">-->
                            <a ng-href="#/app/produtos/{{products._id}}" ng-click="vm.storeIdProductDetail(products._id)">
                                <div class="product-image">
                                    <img src="../../assets/img/produtos/tv/pSNYNA-XBR65X850C_main_v217.png">
                                </div>
                                <div class="product-description">
                                    <span class="product-title">
                                        <p>{{products.tamanho_tela}}" {{products.nome}} {{products.caracteristicas}} {{products.categoria}}{{products.frequencia}}{{products.marca}}                </p>                                </span>
                                </div>

                                <div class="product-description">
                                    <div awesome-rating="products.media_avaliacoes" awesome-rating-options="vm.options">
                                    </div>

                                    <h3 class="md-headline"><strong>R$ {{products.preco}}</strong></h3>
                                    <div class="btn btn-add-basket">Comprar</div>
                                </div>
                            </a>

                        </div>

                        <!--
                        <div class="col-md-9 show-area">
                            <div class="row">
                                <div class="col-md-4" ng-repeat="products in vm.productsByCategory">
                                    <a ng-href="#/app/produtos/{{products._id}}" ng-click="vm.storeIdProductDetail(products._id)">
                                        <h1><strong>{{products.nome}}</strong></h1>
                                        <h3>{{products.caracteristicas}} {{products.categoria}} {{products.tamanho_tela}}" {{products.frequencia}}  {{products.marca}}
                        </h3>
                                    </a>
                                    <h3 style="color:red">R$ {{products.preco}}</h3>

                                    <div class="input-group">
-->
                        <!-- Quando ele utilizar esse span, será mostrado quantas pessoas avaliaram com cada estrela-->
                        <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalV" ng-click="vm.getProdutoVisualizacao(products)">{{products.avaliacao.media || "Não avaliado"}} &#9733</button>
                        <modal-visualizacao></modal-visualizacao> -->
                        <!--
                                        <rating ng-model="products.media_avaliacoes" max="5" readonly="vm.isReadonly"></rating>
                                        <span class="label" ng-class="{'label-warning': 100*(products.media_avaliacoes || 0)/5<30, 'label-info': 100*(products.media_avaliacoes || 0)/5>=30 && 100*(products.media_avaliacoes || 0)/5<70, 'label-success': 100*(products.media_avaliacoes || 0)/5>=70}">{{100*(products.media_avaliacoes || 0)/5 | number:2}}%
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                </div>
            </md-content>
        </section>
    </div>
</div>
