<div layout="row" layout-margin layout-align="center start" id="main-product-detail-box">
    <div flex="35" flex-offset="25" layout-margin layout="column" class="product-detail-box-left">
        <div flex layout="row" class="md-whiteframe-z1">
            <div flex="40" layout="column" layout-align="center center" class="prd-detail-image">
                <div flex layout="column" layout-align="center center">
                    <img class="md-card-image" src="../../assets/img/resistor/resistorSmd.jpg">
                </div>
            </div>
            <div flex="60" class="product-info" layout-padding>
                <md-list>
                    <md-list-item ng-repeat="(key, val) in vm.prdData">
                        <p><b>{{key}}:</b>
                        </p>
                        <p>{{val}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
        <div flex layout=row>
            <div flex layout-align="space-around">
                <md-toolbar class="md-toolbar-tools md-whiteframe-z1">
                    Especificações</md-toolbar>

                <md-content flex layout-padding class="md-whiteframe-z1">

                    <md-list>
                        <md-list-item ng-repeat="prdSpecs in vm.prdSpec">
                            <p><b>{{prdSpecs.name}}:</b>
                            </p>
                            <p>{{prdSpecs.value}}</p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
    </div>
    <div flex="25" layout-margin class="product-detail-box-right">
        <div flex class="md-whiteframe-z1">
            <md-toolbar class="md-toolbar-tools md-whiteframe-z2">
                Disponibilidade</md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item>
                        <p>{{vm.prdDetailDisp[0].estoque}}:</p>
                        <p class="md-title">{{vm.prdDetailDisp[0].estoqueVal}}</p>
                    </md-list-item>
                    <md-list-item>
                        <p><b>{{vm.prdDetailDisp[1].pedidoMin}}:</b>
                        </p>
                        <p>{{vm.prdDetailDisp[1].pedidoMinVal}}</p>
                    </md-list-item>
                    <md-list-item>
                        <p>Preço unitário:</p>
                        <p class="md-title">R$ 0.6</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>

        <div flex class="md-whiteframe-z1">
            <md-toolbar class="md-toolbar-tools md-warn md-whiteframe-z2">
                Digite a quantidade</md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="secondary-button-padding">
                        <!--                        <p>Quantidade</p>-->
                        <p>
                            <md-input-container>
                                <label>Quantidade</label>
                                <input type="number" ng-model="vm.prdQty">
                            </md-input-container>
                            {{vm.prdQty}}
                        </p>
                        <p>
                            <md-button ng-click="vm.prdGetBuy(vm.prdQty); vm.showJanoCarrinhoDiag($event)"  class="md-raised md-accent ">Comprar
                            </md-button>
                        </p>
                        <p>Mínimo:1</p>
                        <p>Vários:1</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div flex class="md-whiteframe-z1">
            <md-toolbar class="md-toolbar-tools md-whiteframe-z2">
                Preços</md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item>
                        <p class="md-title">Quantidade</p>
                        <p class="md-title">Preço</p>
                    </md-list-item>
                    <md-list-item>
                        <p>10:</p>
                        <p>R$0.6</p>
                    </md-list-item>
                    <md-list-item>
                        <p>20:</p>
                        <p>0.50</p>
                    </md-list-item>
                    <md-list-item>
                        <p>20:</p>
                        <p>0.50</p>
                    </md-list-item>
                    <md-list-item>
                        <p>20:</p>
                        <p>0.50</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>