<section layout="column" style="height:100%">
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Categorias</h1>
            </md-toolbar>
            <md-content flex role="navigation">
                <div class="my-md-grey-bg" hide-gt-sm>
                    <md-button flex ng-click="vm.closeSidenavLeft()" class="md-primary md-icon-button">
                        <md-icon class="material-icons">arrow_back</md-icon>

                    </md-button>
                </div>
                <md-list class="my-md-no-padding">
                    <div layout="row" ng-repeat="sections in vm.productNavCategories">
                        <md-button flex layout="row" class="md-primary my-md-no-margin my-md-noround-border" layout-padding layout-align="start center" ng-click="vm.showSubsection($index); vm.closeSidenavLeft()">{{sections.name}}</md-button>
                        <md-divider></md-divider>

                    </div>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-card flex class="my-md-no-margin" layout="column">
            <div class="my-md-grey-bg" hide-gt-sm>
                <md-button ng-click="vm.openLeftSidenav()" class="md-primary md-icon-button">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
            </div>
            <md-card-title>
                <md-switch ng-model="vm.isShowAllSections">Ver Todas as categorias</md-switch>

            </md-card-title>
            <!--            <md-list>-->
            <div ng-repeat="sections in vm.productNavCategories">
                <!--                    <md-button class="md-primary" ng-click="vm.showSubsection($index)">{{sections.name}}</md-button>-->
                <md-card class="my-md-no-shadow my-md-no-margin" ng-show="($index==vm.isShowSubsection) || vm.isShowAllSections">
                    <md-card-title class="my-md-border-bottom my-md-no-padding-top my-md-no-padding-bot my-md-grey-bg">
                        <h1 class="md-headline my-md-smooth-title">{{sections.name}}</h1>
                    </md-card-title>
                    <md-grid-list layout-margin layout-padding md-cols="2" md-cols-xs="1" md-cols-lg="4" md-cols-md="3" md-cols-sm="2" md-gutter="6px" md-row-height="1:1" md-rowspan="8">
                        <md-grid-tile ng-repeat="subsections in vm.productNavCategories[$index].subcat" ui-sref="app">
                            <md-button class="md-primary">
                                <img ng-src="{{subsections.imgPath}}">
                                <h2 class="md-title">{{subsections.name}}</h2>
                            </md-button>
                        </md-grid-tile>
                    </md-grid-list>
                </md-card>
            </div>
        </md-card>
    </div>
</section>