<div style="margin-top:200px" class="container">
    <div class="container">
        <h1>Detalhes do produto</h1>
        <h1><strong>{{vm.selectedProduct.nome}}</strong></h1>

        <h3>{{vm.selectedProduct.caracteristicas}} {{vm.selectedProduct.categoria}} {{vm.selectedProduct.tamanho_tela}}" {{vm.selectedProduct.frequencia}}  {{vm.products.marca}}   
        </h3>
        <h3 style="color:red">R$ {{vm.selectedProduct.preco}}</h3>

        <button class="btn btn btn-danger" ng-click="vm.getCompra()">Adicionar ao Carrinho</button>
        <button class="btn btn btn-danger"><a ui-sref="app.minhaCesta">Ir para o carrinho</a></button>

    </div>
</div>
