  <!-- Modal -->
  <div class="modal fade" id="ModalA" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Avaliação de Produtos</h4>
        </div>
        <form role="form" style="padding-left:20px">
            <div class="radio">
                <label><input type="radio" name="optradio" ng-click="vm.getAvaliacao('5')">&#9733 &#9733 &#9733 &#9733 &#9733</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" ng-click="vm.getAvaliacao('4')">&#9733 &#9733 &#9733 &#9733</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" ng-click="vm.getAvaliacao('3')">&#9733 &#9733 &#9733</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" ng-click="vm.getAvaliacao('2')">&#9733 &#9733</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" ng-click="vm.getAvaliacao('1')">&#9733</label>
            </div>

            <span ng-style="vm.modalStyle">{{vm.semAvaliacao}}</span>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.enviarAvaliacaoProduto()">Confirmar</button>
            <button type="button" class="btn btn-default" ng-click="vm.closeModal()" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>