<div class="container-fluid">

    <div layout="column">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left fixed md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <!--
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Filtros</h1>
                </md-toolbar>
-->
                <md-content flex role="navigation" layout-padding>
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <md-list ng-repeat="filtCat in vm.myFiltersMarca[0] track by $index">
                        <md-button style="width:90%" class="md-button-toggle  primary" ng-model="vm.isCollapsed[$index]" ng-click="vm.getSelectedFiltersName($index, vm.isCollapsed[$index])">
                            <div layout="row" layout-align="space-between center">
                                <div class="btn-title">
                                    <h4 md-title>{{filtCat}}</h4>
                                </div>
                                <div>
                                    <md-icon md-svg-src="md-toggle-arrow"></md-icon>
                                </div>
                            </div>
                        </md-button>
                        <div collapse="vm.isCollapsed[$index]">
                            <md-list-item ng-repeat="(key, val) in vm.myFiltersMarca[$index+1]">
                                <div flex>
                                    <!--
                                    
                                    <md-checkbox class="md-primary" ng-model="vm.filterBy.val" ng-true-value="'str,{{filtCat}},{{val}}'" ng-false-value="'null,{{filtCat}},{{filters.marca}}'" ng-click="vm.filtroComum(vm.filterBy.val)" aria-label="{{val}}">
                                       {{key}} {{val}}
                                    </md-checkbox>
-->


                                    <md-checkbox ng-checked="vm.exists(val, vm.selected)" ng-click="vm.filtroComum(val,filtCat, vm.selected)">
                                        {{ val }} <span ng-if="vm.exists(val, vm.selected)">selected</span>
                                    </md-checkbox>
                                    <md-divider></md-divider>
                                </div>
                            </md-list-item>
                        </div>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </md-sidenav>
            <div layout="column">
                <md-toolbar class="md-accent">
                    <h2 class="md-toolbar-tools">
<!--                         <div class="md-flex">-->
                        <md-input-container>
<!--                            <label>Itens por página</label>-->
                            <md-select ng-model="vm.products.maxShowItem">
                                <md-option value="20">20</md-option>
                                <md-option value="40">40</md-option>
                                <md-option value="60">60</md-option>
                            </md-select>
                        </md-input-container>
                        <span flex></span>
<!--                              </span>-->
<!--                         <span class="md-flex">-->
                        <md-input-container style="padding-bottom:0">
<!--                            <label>State</label>-->
                            <md-select ng-model="select">
                                <md-option value="Para">Para</md-option>
                            </md-select>
                        </md-input-container>
<!--                        </span>-->
                       
                    </h2>
                </md-toolbar>
                <md-content class="md-padding md-whiteframe-z3">
                    <div>
                        <md-button ng-click="toggleLeft()" class="btn-toggle-left-nav md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>
                    
                    <ui-view></ui-view> <!--inject product list and others here-->
                </md-content>
            </div>
        </section>
    </div>
</div>
