<div class="container">
    <div class="row">
        <h1 style="margin-top:200px">This is home</h1>
        
<!--        <input type="text" ng-model="greeting.message" />-->

<!--
        <div ng-class="greeting.message">
            {{greeting.message}}
        </div>
-->

        <!--
        <div class="col-md-4" ng-repeat="produto in produtos">
            <h3>{{produto.caracteristicas}} {{produto.categoria}} {{produto.tamanho_tela}}" {{produto.frequencia}}  {{produto.marca}}                                     </h3>
            <h1 style="color:red">R$ {{produto.preco}}</h1>
        </div>
-->
    </div>
</div>
