<div layout="column" layout-align="center center" ng-cloak>
    <img alt="welcome" src="../../assets/img/produtos/welcome/hp-welcome.jpg">
    <!--    <md-toolbar>Home</md-toolbar>-->
    <div layout="column" flex-gt-sm="80">
        <md-content layout="row" layout-wrap class="md-whiteframe-24dp">
            <md-card ng-repeat="products in vm.productsShow">
                <md-card-content layout="column">
                    <img alt="raspery" ng-src="{{products.imgPath}}">
                    </im>
                    <h4 class="md-title">{{products.name}}</h4>
                    <md-button class="md-warn md-raised">Comprar agora</md-button>
                </md-card-content>
            </md-card>
        </md-content>
        <md-grid-list md-cols-gt-md="6" md-cols-md="2" md-cols-sm="1" md-gutter="12px" md-row-height="1:1">
            <md-grid-tile>
                <img alt="raspery" src="../../assets/img/navbar/arduino_sect.jpg">

                <md-grid-tile-footer>
                    <h3>first tile</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
            <!--
            <md-grid-tile style="background-color:blue">
                <md-grid-tile-footer>
                    <h3>second tile</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
-->
            <!--
            <md-grid-tile style="background-color:red">
                <md-grid-tile-footer>
                    <h3>third tile</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
-->
        </md-grid-list>


        <div layout="row" layout-align="center center">
            <md-grid-list flex="25" md-cols="4" md-row-height="2:2" md-gutter="2px">
                <md-grid-tile flex ng-repeat="prdctNavCat in vm.productNavCategories" style="background-color:red">
                    <img ng-src="{{prdctNavCat.imgPath}}" alt="{{prdctNavCat.name}}" />
                    <!---->
                    <!--    wa**                                                                        {{prdctNavCat.name}}-->
                </md-grid-tile>

            </md-grid-list>
        </div>
    </div>


</div>