<div layout="column" layout-align="center center">
    <!--    <md-toolbar class="md-toolbar-tools">Esqueci minha senha</md-toolbar>-->
    <md-card>
                    <form name="passwordReset" novalidate ng-submit="passwordReset.$valid && vm.forgotPass(vm.userEmail)">

        <md-card-content>
            <h2 class="md-title">Esqueci minha senha</h2>
            <p>Por favor, digite o seu e-mail para receber as instruçoões e criar uma nova senha</p>
                <md-input-container flex class="md-icon-float md-block">
                    <md-icon class="material-icons">email
                    </md-icon>
                    <label>Email</label>
                    <input type="email" name="recoverEmail" ng-model="vm.userEmail" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="passwordReset.recoverEmail.$error" role="alert">
                        <div ng-message="required">
                            É necessário entrar com o seu e-mail
                        </div>
                        <div ng-message="pattern">
                            Deves entrar com um formato de e-mail válido (ex: email@email.com).
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-primary md-raised md-block" type="submit">Enviar</md-button>
          
        </md-card-content>
                        <md-card-actions><md-button>hshsh</md-button></md-card-actions>
                          </form>
    </md-card>
</div>