<!--
<div id="loginbox" class="container">
    <div class="row">
        <h1 class="page-header">Minha Conta</h1>
        <div class="login-box col-md-6">
            <h3 class="login-heading">Já tenho cadastro</h3>
            <div style="color:red">{{vm.loginFailMessage}}</div>
            <form name="vm.loginForm" ng-submit="vm.submitForm(vm.loginForm.$valid)" class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="email">E-mail</label>
                    <div class="col-sm-8">
                        <input type="email" id="login-username" ng-model="vm.user.email" class="form-control" name="email" value="" placeholder="email" required>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="email">`Senha</label>
                    <div class="col-sm-8">
                        <input id="login-password" ng-model="vm.user.password" type="password" class="form-control" name="password" placeholder="password" required>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <input type="submit" value="Entrar" class="btn btn-login-btn" ng-click="vm.loginLocal(vm.user)">
                    </div>
                </div>
            </form>
        </div>
        <div class="signup-box col-md-6">
            <h3 class="login-heading">Não tenho cadastro</h3>
            <p>Crie o seu cadastro e aproveite vantagens que incluem:</p>
            <ul>
                <li>Receber email de lançamentos, novidades e promoçõs de produtos</li>
                <li>Rastrear  com facilidade manter o histórico e seus pedidos
                </li>
               
                <li>Muitas outras vatagens</li>

            </ul>
            <input type="submit" value="Criar Cadastro" class="btn btn-signup-btn" ng-click="vm.loginLocal(vm.user)">
        </div>
    </div>
</div>

-->

<div id="login" class="container">

    <!--    <div layout="row" layout-align="space-around center" layout-sm="column" layout-align-sm="space-around center">-->
    <md-content layout-padding layout-gt-md="column" layout-align-sm="space-around center">
        <md-toolbar class="md-toolbar-tools">Bem vindo, faça seu login ou cadastre-se</md-toolbar>

        <div layout="row" layou-margin layout-align="space-around start">

            <md-card flex-gt-md="50" layout-padding>
                <md-card-title>
                    <h4 class="md-title">Login</h4>
                    <div style="color:red">{{vm.loginMsg}}</div>
                    <div layout="row" layout-aling="center center">
                        <md-icon class="material-icons md-72">account_circle</md-icon>
                    </div>
                </md-card-title>
                <md-card-content>
                    <form name="vm.loginForm" ng-submit="vm.submitForm(vm.loginForm.$valid)" novalidate>

                        <md-input-container class="md-block">
                            <md-icon class="material-icons">email</md-icon>
                            <input type="email" name="userEmail" placeholder="E-mail" ng-model="vm.user.email" ng-pattern="/^.+@.+\..+$/" required>
                            <div ng-messages="vm.loginForm.userEmail.$error" ng-show="vm.loginForm.userEmail.$touched" role="alert">
                                <div ng-message-exp="'required'">You did not enter your email address</div>
                                <div ng-message-exp="'pattern'">
                                    Por favor, Forneça um email no formato email@email.com
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-icon class="material-icons">lock</md-icon>
                            <input type="password" name="userPassword" placeholder="Senha" ng-model="vm.user.password" required>
                            <div ng-messages="vm.loginForm.userPassword.$error" ng-show="vm.loginForm.userPassword.$touched" role="alert">
                                <div ng-message="required">
                                    Você deve entrar com a sua senha
                                </div>
                                <!--
                                <div ng-message-exp="['minlength', 'maxlength']">
                                    Sua senha deve conter 6 dígitos.
                                </div>
-->
                            </div>
                        </md-input-container>
<!--                        <div layout="row" layout-align="center center">-->
                            <md-button flex="60" class="md-raised md-primary" type="submit" ng-click="vm.loginLocal(vm.user, true)">Entrar</md-button>
<!--                        </div>-->
                        <div layout="row" layout-align="space-between end">
                            <md-checkbox>Permanecer conectado</md-checkbox>
                            <md-button class="md-primary">Esqueci mina senha</md-button>
                        </div>

                    </form>
                </md-card-content>
            </md-card>
            <md-card flex-gt-md="50" layout-padding>
                <md-card-title>
                    <h4 class="md-title">Não Tem cadastro?</h4>
                </md-card-title>
                <md-card-content>
                    <p>Crie o seu e aproveite as vantagens que incluem:</p>
                    <md-list>
                        <md-list-item>
                            <p>Receber email de lançamentos, novidades e promoçõs de produtos</p>
                        </md-list-item>
                        <md-list-item>
                            <p>Rastrear com facilidade manter o histórico e seus pedidos</p>
                        </md-list-item>

                    </md-list>
                    <div layout="row" layout-align="center center">
                        <md-button flex="60" ui-sref="app.user.signup" class="md-raised md-warn">Criar Cadastro</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    <!--    </div>-->
</div>



