<div layout="column" layout-align="center center">
    <md-content layout-padding layout-gt-md="column" layout-align-sm="space-around center">
<!--        <md-toolbar class="md-toolbar-tools">Redifina a sua senha</md-toolbar>-->
        <div layout="row" layou-margin layout-align="space-around start">
            <md-card  layout-padding>
                <md-card-title>
                    <h4 class="md-title">Redefina a sua senha</h4>
                    <div style="color:red">{{vm.loginMsg}}</div>
                    <div layout="row" layout-aling="center center">
                        <md-icon class="material-icons md-72">account_circle</md-icon>
                    </div>
                </md-card-title>
                <md-card-content>
                    <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && vm.resetPass(vm.user)" novalidate>
                        <md-input-container class="md-block">
                            <md-icon class="material-icons">lock</md-icon>
                            <input type="password" name="newPassword" placeholder="Nova senha" ng-model="vm.user.newPassword" required>
                            <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
                                <div ng-message="required">
                                    Você deve entrar com a sua senha
                                </div>
                                <!--
                                <div ng-message-exp="['minlength', 'maxlength']">
                                    Sua senha deve conter 6 dígitos.
                                </div>
-->
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-icon class="material-icons">lock</md-icon>
                            <input type="password" name="confirmPassword" placeholder="Repetir senha" ng-model="vm.user.confirmPassword" minlength="6" maxlength="8" match="vm.user.newPassword" required>
                            <div ng-messages="resetPasswordForm.confirmPassword.$error">
                                <div ng-message="match">As senhas não conferem.</div>
                            </div>
                        </md-input-container>
                        <div layout="row" layout-align="center center">
                            <md-button flex="60" class="md-raised md-primary" type="submit" >Redefinir Senha</md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>



