<div class="container-fluid">
    <div layout="column">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left fixed md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo headerPanel">
                    <h1 class="md-toolbar-tools myToolbar">Olá {{loggedUserName}}!</h1>
                </md-toolbar>
                <md-content flex role="navigation" layout-padding>
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <md-list>
                        <a class="mySideNav" ng-mouseenter="account_circle='md-light'" ng-mouseleave="account_circle=''" ui-sref="app.user.dashboard.dados">
                            <md-list-item ng-click="nothing()"><i class="material-icons md-36" ng-class="account_circle">account_circle</i>&nbsp Sua conta</md-list-item>
                        </a>
                        <md-divider></md-divider>
                        <a ui-sref="app.user.dashboard.pedidos" class="mySideNav" ng-mouseenter="view_list='md-light'" ng-mouseleave="view_list=''">
                            <md-list-item ng-click="nothing()"><i class="material-icons md-36" ng-class="view_list">view_list</i>&nbsp Pedidos</md-list-item>
                        </a>
                        <md-divider></md-divider>
                        <a class="mySideNav" ui-sref="app.user.dashboard.dados" ng-mouseenter="edit='md-light'" ng-mouseleave="edit=''">
                            <md-list-item ng-click="nothing()"><i class="material-icons md-36" ng-class="edit">edit</i>&nbsp Dados Pessoais</md-list-item>
                        </a>
                        <md-divider></md-divider>
                        <a class="mySideNav" ui-sref="app.user.dashboard.endereco" ng-mouseenter="home='md-light'" ng-mouseleave="home=''">
                            <md-list-item ng-click="nothing()"><i class="material-icons md-36" ng-class="home">home</i>&nbsp Endereços</md-list-item>
                        </a>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </md-sidenav>
            <!--
            <div class="col col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <ui-view></ui-view>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
            </div>
-->
           <!--  <md-content>
                <md-toolbar class="md-accent">
                    <h2 class="md-toolbar-tools">
                      <span flex>Panel title</span>
                </h2>
                </md-toolbar>
                <md-content layout-margin  layout-padding>
                    <ui-view></ui-view>
                </md-content>
            </md-content> -->

            <div layout="column" class="relative" layout-fill role="main">
                <md-toolbar class="dashboardPanel">
                    <h3 class="toolbarDashboard"> &nbsp Dashboard</h3>
                </md-toolbar>

                <md-content layout-margin  layout-padding>
                    <ui-view></ui-view>
                </md-content>
            </div>


        </section>
    </div>
</div>
