<div class="container-fluid">
    <div layout="column">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left fixed md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo headerPanel">
                    <h1 class="md-toolbar-tools myToolbar">Filtros</h1>
                </md-toolbar>
                <md-content flex role="navigation" layout-padding>
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <md-list>
                        <a class="mySideNav" ui-sref="dashboard.dados"><md-list-item ng-click="nothing()"><i class="material-icons md-36">account_circle</i>&nbsp Sua conta</md-list-item></a>
                        <md-divider></md-divider>
                        <a ui-sref="dashboard.pedidos" class="mySideNav"><md-list-item ng-click="nothing()"><i class="material-icons md-36">view_list</i>&nbsp Pedidos</md-list-item></a>
                        <md-divider></md-divider>
                        <a class="mySideNav" ui-sref="dashboard.dados"><md-list-item ng-click="nothing()"><i class="material-icons md-36">edit</i>&nbsp Dados Pessoais</md-list-item></a>
                        <md-divider></md-divider>
                        <a class="mySideNav" ui-sref="dashboard.endereco"><md-list-item ng-click="nothing()"><i class="material-icons md-36">home</i>&nbsp Endereços</md-list-item></a>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </md-sidenav>
            <div class="col col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <ui-view></ui-view>
                    </div>
                    <div class="panel-footer">Panel footer</div>
                </div>
            </div>
        </section>
    </div>
</div>
