<div class="container">

	<div class="col-md-8" ng-repeat="pedido in vm.minhasCompras">
	 	<!--data-target referencia o _id da compra feita-->
		<a href="#" class="list-group-item list-group-item-success" data-toggle="collapse" data-target="#{{pedido.id}}"><strong>Pedido feito em {{pedido.data}}</strong></a>
		<div id="{{pedido.id}}" class="sublinks collapse">
			<div ng-repeat="compra in pedido.produtos">
				<a class="list-group-item small">
				<!--<span class="glyphicon glyphicon-chevron-right"></span>{{compra.id}} - {{compra.quantidade}}-->
				<h4 class="list-group-item-heading">{{compra.nome}}</h4>
				<h6 class="list-group-item-heading"><strong>Categoria: </strong> {{compra.categoria}}</h6>
				<h6 class="list-group-item-heading"><strong>Preço: </strong> R${{compra.preco}}</h6>
 				<h6 class="list-group-item-heading"><strong>Quantidade: </strong> {{compra.quantidade}}</h6>
				</a>
			</div>
		</div>
	</div>

</div>