<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Entre com o e-mail atual</label>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email atual" required>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Entre com o novo e-mail</label>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="email" class="form-control" placeholder="Novo email" aria-describedby="sizing-addon1" required>
        </div>
    </div>
    <!--
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
-->
    <!--
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
-->
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
