<div id="popupContainer">
    <h2>Endereço de Usuário</h2>
    <md-checkbox ng-model="vm.permicaoAlteracaoDados.enderecoEntrega">
        Habilite a alteração desse endereço.
    </md-checkbox>
    <md-input-container style="width:25%">
        <label>Tipo de residência</label>
        <md-select ng-model="vm.user.endereco.tipoEndereco" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            <md-option value="Apartamento">Apartamento</md-option>
            <md-option value="Casa">Casa</md-option>
            <md-option value="Comercial">Comercial</md-option>
            <md-option value="Outro">Outro</md-option>
        </md-select>
    </md-input-container>
    <form>
        <div layout layout-sm="column">
            <md-input-container style="width:70%">
                <label>Nome do destinatário</label>
                <input ng-model="vm.user.fullName" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
            <md-input-container flex>
                <label>CEP</label>
                <input ng-model="vm.user.endereco.cep" ui-mask="99999-999" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container style="width:70%">
                <label>Endereço</label>
                <input ng-model="vm.user.endereco.endereco" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
            <md-input-container flex>
                <label>Número</label>
                <input ng-model="vm.user.endereco.numero" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Complemento</label>
                <input ng-model="vm.user.endereco.complemento" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
            <md-input-container flex>
                <label>Referência</label>
                <input ng-model="vm.user.endereco.referencia" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Bairro</label>
                <input ng-model="vm.user.endereco.bairro" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
            <md-input-container flex>
                <label>Cidade</label>
                <input ng-model="vm.user.endereco.cidade" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
            </md-input-container>
        </div>
        <div layout="column" layout-align="center center">
            <md-input-container>
                <md-button class="md-primary confirmButton" disabled="{{info_user}}" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega" ng-click="vm.userUpdateData(vm.user); vm.showAlert()">
                    <i class="material-icons md-36" style="color:black;">done_all</i>
                </md-button>
            </md-input-container>

        </div>
    </form>
</div>
