<!--<div id="popupContainer">-->
<!--
<h2>Endereço de Usuário</h2>
<md-checkbox ng-model="vm.permicaoAlteracaoDados.enderecoEntrega">
    Habilite a alteração desse endereço.
</md-checkbox>
<md-input-container style="width:25%">
    <label>Tipo de residência</label>
    <md-select ng-model="vm.user.endereco[0].tipoEndereco" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        <md-option value="Apartamento">Apartamento</md-option>
        <md-option value="Casa">Casa</md-option>
        <md-option value="Comercial">Comercial</md-option>
        <md-option value="Outro">Outro</md-option>
    </md-select>
</md-input-container>
-->
<!---->
<!--<form>-->
<!--
    <div layout layout-sm="column">
        <md-input-container style="width:70%">
            <label>Nome do destinatário</label>
            <input ng-model="vm.user.nome" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
        <md-input-container flex>
            <label>CEP</label>
            <input ng-model="vm.user.endereco.cep" ui-mask="99999-999" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container style="width:70%">
            <label>Endereço</label>
            <input ng-model="vm.user.endereco[0].endereco" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
        <md-input-container flex>
            <label>Número</label>
            <input ng-model="vm.user.endereco[0].numero" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Complemento</label>
            <input ng-model="vm.user.endereco[0].complemento" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
        <md-input-container flex>
            <label>Referência</label>
            <input ng-model="vm.user.endereco[0].referencia" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Bairro</label>
            <input ng-model="vm.user.endereco[0].bairro" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
        <md-input-container flex>
            <label>Cidade</label>
            <input ng-model="vm.user.endereco[0].cidade" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega">
        </md-input-container>
    </div>
    <div layout="column" layout-align="center center">
        <md-input-container>
            <md-button class="md-primary confirmButton" disabled="{{info_user}}" ng-disabled="!vm.permicaoAlteracaoDados.enderecoEntrega" ng-click="vm.userUpdateData(vm.user); vm.showAlert()">
                <i class="material-icons md-36" style="color:black;">done_all</i>
            </md-button>
        </md-input-container>

    </div>
-->
<h4 class="md-title"><md-icon class="material-icons">place</md-icon>
Endereços de entrega</h4>
<div flex-gt-md="50" ng-repeat="userAddress in vm.user.endereco track by $index">
    <md-card class="userAddress" ng-show="vm.userIsEditAddress[$index]">
        <md-card-content>
            <h2 class="md-title my-md-capital">{{userAddress.destinatario}}
				<span>
					
					<md-button ng-click="vm.userEditAddress($index)" class="md-raised md-primary md-icon-button">
						<md-icon class="material-icons">edit</md-icon>
					</md-button>
				</span>
			</h2>
            <p>
                {{userAddress.endereco}}, No. {{userAddress.numero}}, {{userAddress.complemento}}, {{userAddress.bairro}},
            </p>
            <p>CEP: {{userAddress.cep}}</p>
            <p>{{userAddress.cidade}} - {{userAddress.estado}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end end">
            <md-button class="md-icon-button md-raised">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card ng-show="!vm.userIsEditAddress[$index]" class="dashboard-edit" style="background-color:#f5f5f5">
		<md-card-title><h4 class="md-title">Alterar dados do endereço</h4></md-card-title>
        <md-card-content >
            <form name="udpateAddressForm" ng-submit=" udpateAddressForm.$valid && vm.userUpdateAddress(vm.user)" novalidate>
                <!--                    <md-card layout-padding>-->
                <!--                        <md-card-content>-->
                <div layout-gt-md="column">
                    <md-input-container class="md-block">
                        <label>Nome do destinatário</label>
                        <input name="destinatario" ng-model="vm.user.endereco[$index].destinatario" name="destinatario" type="text" required>
                        <div ng-messages="udpateAddressForm.destinatario.$error">
                            <div ng-message="required">Entre com o nome do destinatário</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Tipo de endereco</label>
                        <md-select name="tipoEndereco" ng-model="vm.user.endereco[$index].tipoEndereco" name="tipoEndereco" required>
                            <md-option value="Apartamento">Apartamento</md-option>
                            <md-option value="Casa">Casa</md-option>
                            <md-option value="Comercial">Comercial</md-option>
                            <md-option value="Outro">Outro</md-option>
                        </md-select>
                        <div ng-messages="udpateAddressForm.tipoEndereco.$error">
                            <div ng-message="required">Escolha o tipo de endereço</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>CEP</label>
                        <input name="cep" ng-model="vm.user.endereco[$index].cep" ui-mask="99999-999" type="text" required>
                        <div ng-messages="udpateAddressForm.cep.$error">
                            <div ng-message="required">Entre com o seu CEP</div>
                        </div>
                    </md-input-container>
                    <div layout-gt-md="row">
                        <md-input-container class="md-block">
                            <label>Endereço</label>
                            <input type="text" name="endereco" ng-model="vm.user.endereco[$index].endereco" required>
                            <div ng-messages="udpateAddressForm.endereco.$error">
                                <div ng-message="required">Entre com o seu endereço</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Número</label>
                            <input type="text" name="numero" ng-model="vm.user.endereco[$index].numero" required>
                            <div ng-messages="udpateAddressForm.numero.$error">
                                <div ng-message="required">Entre com o número</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Complemento</label>
                            <input type="text" name="complemento" ng-model="vm.user.endereco[$index].complemento" type="text">

                        </md-input-container>
                    </div>

                </div>
                <div layout-gt-md="row">
                    <md-input-container class="md-block">
                        <label>Bairro</label>
                        <input name="bairro" ng-model="vm.user.endereco[$index].bairro" type="text" required>
                        <div ng-messages="udpateAddressForm.bairro.$error">
                            <div ng-message="required">Entre com o bairro</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Cidade</label>
                        <input name="cidade" ng-model="vm.user.endereco[$index].cidade" type="text" required>
                        <div ng-messages="udpateAddressForm.cidade.$error">
                            <div ng-message="required">Entre com a cidade</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Estado</label>
                        <input name="estado" ng-model="vm.user.endereco[$index].estado" type="text" required>
                        <div ng-messages="udpateAddressForm.estado.$error">
                            <div ng-message="required">Escolha o estado</div>
                        </div>
                    </md-input-container>

                </div>
                <div layout-gt-md="row">
                    <md-input-container class="md-block">
                        <md-checkbox checked="vm.newAddress.tag=true" ng-model="vm.newAddress.tag">Tornar meu endereço principal</md-checkbox>
                    </md-input-container>
                </div>
                <!--            </md-card-content>-->
                <!--        </md-card>-->
                <div layout-gt-md="row" flex-gt-md="50" layout-align="center center">
                    <md-button ng-click="vm.userUpdateAddress()" type="submit" class="md-primary md-raised">Salvar</md-button>
                    Ou
                    <md-button class="md-primary">Cancelar</md-button>
                </div>
                <md-divider></md-divider>
            </form>
        </md-card-content>
    </md-card>
</div>



<!--</form>-->
<!--</div>-->
