<md-dialog aria-label="newAddressForm" ng-cloak>
    <md-content layout="row" layout-align="center center">
        <div layout="column">
            <md-toolbar class="md-toolbar-tools">Adicionar novo endereço de entrega
                <span flex></span>
                <md-button ng-click="vm.cancelDialog()" class="my-md-icon-btn">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </md-toolbar>
            <form name="addNewAddressForm" novalidate>
                <md-card layout-padding>
                    <md-card-content>
                        <div layout-gt-md="column">
                            <md-input-container class="md-block">
                                <label>Nome do destinatário</label>
                                <input name="destinatario" ng-model="vm.newAddress.destinatario" type="text" required>
                                <div ng-messages="addNewAddressForm.destinatario.$error">
                                    <div ng-message="required">Entre com o nome do destinatário</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>Tipo de endereco</label>
                                <md-select name="tipoEnd" ng-model="vm.newAddress.tipoEnd" required>
                                    <md-option value="Apartamento">Apartamento</md-option>
                                    <md-option value="Casa">Casa</md-option>
                                    <md-option value="Comercial">Comercial</md-option>
                                    <md-option value="Outro">Outro</md-option>
                                </md-select>
                                <div ng-messages="addNewAddressForm.tipoEnd.$error">
                                    <div ng-message="required">Escolha o tipo de endereço</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>CEP</label>
                                <input name="cep" ng-model="vm.newAddress.cep" ui-mask="99999-999" type="text" required>
                                <div ng-messages="addNewAddressForm.cep.$error">
                                    <div ng-message="required">Entre com o seu CEP</div>
                                </div>
                            </md-input-container>
                            <div layout-gt-md="row">
                                <md-input-container class="md-block">
                                    <label>Endereço</label>
                                    <input type="text" name="endereco" ng-model="vm.newAddress.endereco" required>
                                    <div ng-messages="addNewAddressForm.endereco.$error">
                                        <div ng-message="required">Entre com o seu endereço</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Número</label>
                                    <input type="text" name="numero" ng-model="vm.newAddress.numero" required>
                                    <div ng-messages="addNewAddressForm.numero.$error">
                                        <div ng-message="required">Entre com o número</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Complemento</label>
                                    <input type="text" name="complemento" ng-model="vm.newAddress.complemento" type="text">

                                </md-input-container>
                            </div>

                        </div>
                        <div layout-gt-md="row">
                            <md-input-container class="md-block">
                                <label>Bairro</label>
                                <input name="bairro" ng-model="vm.newAddress.bairro" type="text" required>
                                <div ng-messages="addNewAddressForm.bairro.$error">
                                    <div ng-message="required">Entre com o bairro</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Cidade</label>
                                <input name="cidade" ng-model="vm.newAddress.cidade" type="text" required>
                                <div ng-messages="addNewAddressForm.cidade.$error">
                                    <div ng-message="required">Entre com a cidade</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Estado</label>
                                <input name="estado" ng-model="vm.newAddress.estado" type="text" required>
                                <div ng-messages="addNewAddressForm.estado.$error">
                                    <div ng-message="required">Escolha o estado</div>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout-gt-md="row">
                            <md-input-container class="md-block">
                                <md-checkbox checked="vm.newAddress.mainAddr=true" ng-model="vm.newAddress.mainAddr">Tornar meu endereço principal</md-checkbox>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <div layout-gt-md="row" flex-gt-md="50" layout-align="center center">
                    <md-button type="submit" class="md-primary md-raised" ng-click=" vm.addNewAddress(vm.newAddress)">Salvar Endereco</md-button>
                    Ou
                    <md-button type="submit" ng-submit="vm.addNewAddress(addNewAddressForm.$valid)"  class="md-primary" ng-click="vm.cancelDialog()">Cancelar</md-button>
                </div>
                <md-divider></md-divider>
            </form>
        </div>
    </md-content>
</md-dialog>
