<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Tipo de residênciao</label>
        <select id="addressForm.friendlyAddressNameOptions" ng-model="vm.user.tipoEndereco">
            <option value="Apartamento">Apartamento</option>
            <option value="Casa">Casa</option>
            <option value="Comercial">Comercial</option>
            <option value="Outro">Outro</option>
        </select>
        <!--        <div class="input-group">-->
<!--        <input ng-model="user.fullName" type="text" class="form-control" id="nomeCompleto" required>-->
        <!--        </div>-->
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">CEP*</label>
        <!--        <div class="input-group">-->
        <input ng-model="vm.user.endereco.cep" type="text" maxlength="8" class="form-control" required>
        <!--        </div>-->
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Destinatário*</label>
        <input ng-model="vm.user.fullName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Endereço*</label>
        <input ng-model="vm.user.endereco.endereco" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Número*</label>
        <input ng-model="vm.user.endereco.numero" type="text" class="form-control" required>
    </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Complemento</label>
        <input ng-model="vm.user.endereco.complemento" type="text" class="form-control">
    </div>
     </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Informaçoes de referência</label>
        <input  ng-model="vm.user.endereco.referencia" type="text" class="form-control">
    </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Bairro*</label>
        <input ng-model="vm.user.endereco.bairro" type="text" class="form-control" required>
    </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Cidade*</label>
        <input ng-model="vm.user.endereco.cidade" type="text" class="form-control" required>
    </div>

    <button ng-click="vm.updateEndereco(vm.user)" type="submit" class="btn btn-success">Salvar</butt  on>
</form>