<!-- <form>

    <label>Permitir alteração de dados: <input type="checkbox" ng-model="vm.permicaoAlteracaoDados.dadosCadastrais" ng-true-value="false" ng-false-value="true"></label><br/>
    
    <div class="form-group">
        <label for="InputFullName">Nome Completo</label>
        <input ng-model="vm.user.fullName" type="text" class="form-control" id="nomeCompleto" ng-disabled="vm.permicaoAlteracaoDados.dadosCadastrais" required>
    </div>
    <div class="form-group">
        <label for="InputBirthDate">Data de nascimento</label>
        <input ng-model="vm.user.birthDate" type="date" class="form-control" ng-disabled="vm.permicaoAlteracaoDados.dadosCadastrais" required>
    </div>

    <div class="form-group">
        <label for="InputTelefone">Telefone residencial</label>
        <input ng-model="vm.user.telefone"  ui-mask="(99) 9999-9999" type="text" class="form-control" ng-disabled="vm.permicaoAlteracaoDados.dadosCadastrais" required>
    </div>
    
    <div class="form-group">
        <label for="Inputcelular">Telefone resicelular</label>
        <input ng-model="vm.user.celular"  ui-mask="(99) 9999-9999" type="text" class="form-control" ng-disabled="vm.permicaoAlteracaoDados.dadosCadastrais" required>
    </div>
    <button type="submit" class="btn btn-success" ng-click="vm.updateDadosCadastrais(vm.user)" ng-disabled="vm.permicaoAlteracaoDados.dadosCadastrais">Salvar</button>
 
</form>
 -->
<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
        <h2>Informações de Usuário</h2>
            <md-checkbox ng-model="vm.permicaoAlteracaoDados.dadosCadastrais">
                Habilite a alteração de informações pessoais.
            </md-checkbox>
        <form>
            <div layout layout-sm="column">
                <md-datepicker ng-model="vm.user.birthDate" md-placeholder="Enter date" ng-disabled="!vm.permicaoAlteracaoDados.dadosCadastrais"></md-datepicker>
                <md-input-container flex>
                    <md-icon class="material-icons">perm_identity</md-icon>
                    <input ng-model="vm.user.fullName" placeholder="Nome Completo" ng-disabled="!vm.permicaoAlteracaoDados.dadosCadastrais">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <md-icon class="material-icons">phone</md-icon>
                    <input ng-model="vm.user.telefone" ui-mask="(99) 9999-9999" ng-disabled="!vm.permicaoAlteracaoDados.dadosCadastrais">
                </md-input-container>
                <md-input-container flex>
                    <md-icon class="material-icons">phonelink_ring</md-icon>
                    <input ng-model="vm.user.celular" ui-mask="(99) 9999-9999" ng-disabled="!vm.permicaoAlteracaoDados.dadosCadastrais">
                </md-input-container>
            </div>
            <div layout="column" layout-align="center center">
                <md-input-container>
                    <md-button class="md-primary confirmButton" disabled="{{info_user}}" ng-disabled="!vm.permicaoAlteracaoDados.dadosCadastrais" ng-click="vm.updateDadosCadastrais(vm.user)">
                        <i class="material-icons md-36" style="color:black;">done_all</i>
                    </md-button>
                </md-input-container>
            </div>
        </form>
    </md-card-content>
</md-card>
<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
        <h2>Informações de Email</h2>
        <md-checkbox ng-model="vm.permicaoAlteracaoDados.email">
            Habilite a alteração de email.
        </md-checkbox>
        <form>
            <md-input-container flex>
                <md-icon class="material-icons">email</md-icon>
                <input type="email" placeholder="Email Atual" ng-required="true" ng-disabled="!vm.permicaoAlteracaoDados.email">
            </md-input-container>
            <md-input-container flex>
                <md-icon class="material-icons">autorenew</md-icon>
                <input type="email" placeholder="Novo Email" ng-required="true" ng-disabled="!vm.permicaoAlteracaoDados.email">
            </md-input-container>
            <div layout="column" layout-align="center center">
                <md-input-container>
                    <md-button class="md-primary confirmButton" ng-disabled="!vm.permicaoAlteracaoDados.email">
                        <i class="material-icons md-36" style="color:black;">done_all</i>
                    </md-button>
                </md-input-container>
            </div>
        </form>
    </md-card-content>
</md-card>
<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
        <h2>Informações de Senha</h2>
        <md-checkbox ng-model="vm.permicaoAlteracaoDados.senha">
            Habilite a alteração de senha.
        </md-checkbox>
        <form>
            <md-input-container flex>
                <md-icon class="material-icons">verified_user</md-icon>
                <input ng-model="vm.user.oldPassword" type="password" placeholder="Senha Atual" ng-required="true" ng-disabled="!vm.permicaoAlteracaoDados.senha">
            </md-input-container>
            <md-input-container flex>
                <md-icon class="material-icons">autorenew</md-icon>
                <input ng-model="vm.user.newPassword" type="password" placeholder="Nova Senha" ng-required="true" ng-disabled="!vm.permicaoAlteracaoDados.senha">
            </md-input-container>
            <md-input-container flex>
                <md-icon class="material-icons">autorenew</md-icon>
                <input ng-model="vm.user.passwordConfirm" type="password" placeholder="Repitir Nova Senha" ng-required="true" ng-disabled="!vm.permicaoAlteracaoDados.senha">
            </md-input-container>
            <div layout="column" layout-align="center center">
                <md-input-container>
                    <md-button class="md-primary confirmButton" ng-disabled="!vm.permicaoAlteracaoDados.senha" ng-click="vm.updatePassword(vm.user)">
                        <i class="material-icons md-36" style="color:black;">done_all</i>
                    </md-button>
                </md-input-container>
            </div>
        </form>
    </md-card-content>
</md-card>
