<div layout="row" layout-wrap class="my-top-nav-bar">
    <md-toolbar class="my-md-menu-top">
        <div class="container">
            <div class="md-toolbar-tools" layout="row">
                <div flex layout="row" layout-align="end center">
                    <md-button ui-sref="app.login">Login
                    </md-button>
                    <md-button ui-sref="app.dashboard">Meus Pedidos
                    </md-button>
                    <md-button ui-sref="app.signup">Cadastre-se
                    </md-button>
                    <md-button ng-hide="!loggedIn" ui-sref="logOut()">Sair
                    </md-button>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-toolbar>
        <div layout="row" layout-align="center center" layout-wrap>
            <div flex="66">
                <div class="md-toolbar-tools">
                    <div flex layout="row" layout-align="start center">
                        <md-menu-bar>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">
                                    File
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-menu>
                                            <md-button ng-click="ctrl.sampleAction('share', $event)">
                                                Componentes Passivos
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-iten>
                                                    <md-button>
                                                        Resistor
                                                    </md-button>
                                                </md-menu-iten>
                                                <md-menu-iten>
                                                    <md-button>
                                                        Capacitor
                                                    </md-button>
                                                </md-menu-iten>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>
                        <md-button ui-sref="^">
                            <img src="../../assets/img/logo/sonyLogo2.png">
                        </md-button>
                        <md-button ui-sref="app.produtos">Produtos
                        </md-button>
                        <md-button ui-sref="app.dashboard">Kits
                        </md-button>
                        <md-button ui-sref="app.signup">Universitários
                        </md-button>
                        <md-button ui-sref="app.signup">Laboratórios
                        </md-button>
                        <md-button ui-sref="app.signup">Cursos
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>