<div style="margin-top:200px" class="container">
    <h4>Itens por página</h4>
    <select ng-model="products.maxShowItem" ng-change="getMaxShowItems(products.maxShowItem)">
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="60">60</option>
    </select>
    {{products.maxShowItem}}

    <select ng-model="products.orderBy" ng-change="getOrdering(products.orderBy)">
        <option value="lancamento">Lançamento</option>
        <option value="-preco">Maior preço</option>
        <option value="preco">Menor preço</option>
    </select>
    {{products.orderBy}}
    <div class="row">

        <div class="col-md-3">
            <h2>Filtrar</h2>
            <h4>Marca</h4>
            <form>
                <div class="checkbox" ng-repeat="filters in myfiltersMarca">
                    <label>
                        <input type="checkbox" ng-model="filterBy.marca" ng-true-value="'str,marca,{{filters.marca}}'" ng-false-value="'null,marca,{{filters.marca}}'" ng-click="filtroComum(filterBy.marca)" />{{filters.marca}}
                    </label>
                </div>
            </form>
            <input type="text" ng-model="productCategory.category" />{{productCategory.category}}

            <h4 class="info">Tamanho da Tela</h4>
            <div class="checkbox" ng-repeat="filters in myfiltersTela">
                <label>
                    <input type="checkbox" ng-model="filterBy.tamanho_tela" ng-true-value="'num,tamanho_tela,{{filters.tamanho_tela}}'" ng-false-value="'null,tamanho_tela,{{filters.tamanho_tela}}'" ng-click="filtroComum(filterBy.tamanho_tela)" />{{filters.tamanho_tela}}"
                </label>
            </div>

            <h4>Faixa de Preco</h4>
            <div class="radio" ng-repeat="faixapreco in faixaPreco">
                <label>
                    <input type="radio" ng-model="filterBy.name" value="num,preco,{{faixapreco}}" ng-click="filtro_faixa(filterBy.name)">{{faixapreco}}
                </label>
            </div>
        </div>

        <div class="col-md-9 show-area">

            <div class="row">
                <div class="col-md-4" ng-repeat="products in productsByCategory">
                    <h3>{{products.caracteristicas}} {{products.categoria}} {{products.tamanho_tela}}" {{products.frequencia}}  {{products.marca}}                                     </h3>
                    <h1 style="color:red">R$ {{products.preco}}</h1>

                </div>
            </div>

        </div>

    </div>

</div>
