<div class="container" style="margin-top:100px">
    <h3>Dados Cadastrais</h3>
    <p class="help-block">* campos obrigatorios</p>

    <form name="signupForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group" ng-class="{'has-error':signupForm.fullName.$invalid}">
            <label class="col-sm-2 control-label">Nome completo</label>
            <div class="col-sm-6">
                <input type="text" name="fullName" ng-model="vm.newUser.fullName" value="" class="form-control" placeholder="Nome completo" maxlength="65" required>
            </div>

        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.sexo.$invalid}">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="asterisk">*</span><span>Sexo</span>
            </label>
            <div class="col-sm-2">
                <select class="form-control" name="sexo" ng-model="vm.newUser.sexo" required>
                    <option>Selecione</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.cpf.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>CPF</label>
            <div class="col-sm-3">
                <input ng-model="vm.newUser.cpf" ui-mask="999.999.999-99" type="text" name="cpf" class="form-control" maxlength="11" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.birthDate.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Data de nascimento</label>
            <div class="col-sm-3">
                <input type="date" name="birthDate" ng-model="vm.newUser.birthDate" class="form-control" id="inputPassword3" placeholder="Data de nascimento" maxlength="11" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.telefone.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Telefone residencial</label>
            <div class="col-sm-3">
                <input ng-model="vm.newUser.telefone" ui-mask="(99) 9999-9999" type="text" name="telefone" class="form-control" maxlength="11" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Telefone celular</label>
            <div class="col-sm-3">
                <input ng-model="vm.newUser.celular" ui-mask="(99) 99999-9999" type="text" name="celular" class="form-control" maxlength="11">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.email.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>E-mail</label>
            <div class="col-sm-6">
                <input type="email" name="email" ng-model="vm.newUser.email" class="form-control" placeholder="E-mail" maxlength="30" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.password.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Senha</label>
            <div class="col-sm-3">
                <input ng-model="vm.newUser.password" type="password" name="password" class="form-control" placeholder="Senha" min="6" maxlength="8" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.confirmPassword.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Repetir Senha</label>
            <div class="col-sm-3">

                <input ng-model="vm.newUser.confirmPassword" match="vm.newUser.password" type="password" name="confirmPassword" class="form-control" id="inputPassword3" placeholder="Senha" maxlength="30" required>
            </div>
            <div ng-show="signupForm.confirmPassword.$error.match">Senhas não conferem!</div>
        </div>
        <h3>Endereço de entrega</h3>
        <p class="help-block">* campos obrigatorios</p>
        <div class="form-group" class="form-group" ng-class="{'has-error':signupForm.tipoEndereco.$invalid}">
            <label for="inputEmail3" class="col-sm-2 control-label"><span class="danger">*</span><span>Tipo de Endereço</span>
            </label>
            <div class="col-sm-2">
                <select class="form-control" name="tipoEndereco" ng-model="vm.newUser.tipoEndereco" required>
                    <option value="Selecione">Selecione</option>
                    <option value="Apartamento">Apartamento</option>
                    <option value="Casa">Casa</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.cep.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>CEP</label>
            <div class="col-sm-3">
                <input ng-model="vm.newUser.cep" ui-mask="99999-999" type="text" name="cep" class="form-control" maxlength="8" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.endereco.$invalid}">
            <label class="col-sm-2 control-label"><span class="asterisk">*</span>Endereço</label>
            <div class="col-sm-6">
                <input type="text" name="endereco" ng-model="vm.newUser.endereco" class="form-control" placeholder="Endereço residencial" maxlength="30" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.numero.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Número</label>
            <div class="col-sm-3">
                <input type="text" name="numero" ng-model="vm.newUser.numero" class="form-control" placeholder="Número da rua, Av, etc." maxlength="30" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Complemento</label>
            <div class="col-sm-6">
                <input type="text" name="complemento" ng-model="vm.newUser.complemento" class="form-control" placeholder="Complemento do endereço" maxlength="30">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error':signupForm.referencia.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Referência</label>
            <div class="col-sm-6">
                <input type="text" name="referencia" ng-model="vm.newUser.referencia" class="form-control" placeholder="informações de referência residencial" maxlength="30" required>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':signupForm.bairro.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Bairro</label>
            <div class="col-sm-4">
                <input type="text" name="bairro" ng-model="vm.newUser.bairro" class="form-control" placeholder="Bairro" maxlength="30" required>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':signupForm.cidade.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Cidade</label>
            <div class="col-sm-4">
                <input type="text" name="cidade" ng-model="vm.newUser.cidade" class="form-control" placeholder="Cidade" maxlength="30" required>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error':signupForm.estado.$invalid}">
            <label for="inputPassword3" class="col-sm-2 control-label"><span class="asterisk">*</span>Estado</label>
            <div class="col-sm-2">
                <input type="text" name="estado" ng-model="vm.newUser.estado" class="form-control" placeholder="Estado" maxlength="10" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-lg" ng-click=" vm.createUser(vm.newUser)">Cadastrar</button>
            </div>
        </div>
    </form>
</div>