<md-dialog aria-label="ja no carrinho" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h4 class="md-title">Parabéns !!!</h4>
            O seu cadastro foi realizado com sucesso.
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ui-sref="app.user.login" ng-click="vm.closeDialog()">Ir para login</md-button>
        <md-button ui-sref="app.home" ng-click="vm.closeDialog()">Cancelar</md-button>
    </md-dialog-actions>
</md-dialog>