<md-dialog aria-label="ja no carrinho" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h4>Produto já se encontra no carrinho</h4>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button  ui-sref="app.minhaCesta" class="md-primary md-raised" ng-click="vm.confirm()"><md-icon class="material-icons">shopping_cart</md-icon>Exibir carrinho</md-button>
        <md-button class="md-primary" ng-click="vm.cancel()">Cancelar</md-button>
    </md-dialog-actions>
</md-dialog>
