<!--<section class="column" ng-cloak>-->
<!--    <div layout="row" layout-align="center center">-->
<md-divider></md-divider>
<md-card>
    <md-card-content>
        <md-content>
            <md-tabs md-selected="vm.selectedIndex" md-dynamic-height md-border-bottom>
                <md-tab ng-disabled="vm.isNextTabEnable[0]" label="Endereço">
                    <md-content class="md-padding">
                        <md-card-title>
                            <h3 class="md-headline">Escolha um endereço de entrega</h3>
                        </md-card-title>
                        <div layout="column">
                            <div layout="row" layout-wrap>
                                <md-card flex ng-repeat="shipAddress in vm.userData.endereco track by $index">
                                    <md-card-content>
                                        <h2 class="md-title">{{shipAddress.destinatario}}</h2>
                                        <p>{{shipAddress.endereco}}, No. {{shipAddress.numero}}, {{shipAddress.complemento}}, {{shipAddress.bairro}},
                                        </p>
                                        <p>CEP: {{shipAddress.cep}}</p>
                                        <p>{{shipAddress.cidade}} - {{shipAddress.estado}}
                                    </md-card-content>
                                    <div layout="row" layout-align="start end">
                                        <md-card-actions>
                                            <md-button class="md-primary md-raised" ng-click="vm.enableNextTab(vm.selectedIndex); vm.selShipAddress($index)">Entregar neste endereco</md-button>
                                        </md-card-actions>
                                    </div>

                                </md-card>
                            </div>
                            <div layout="row" layout-margin flex="25" layout-align="center center">
                                <md-button ng-click="vm.addNewAddressDialog($event)" class="md-raised md-primary md-hue-2">Cadastrar outro endereço +</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab ng-disabled="vm.isNextTabEnable[1]" label="Entrega">
                    <md-content>
                        <md-card-title>
                            <h4 class="md-headline ">Escolha as opções de entrega</h4>
                        </md-card-title>
                        <md-card class="my-md-no-shadow my-md-no-padding">
                            <md-card-title class="my-md-no-padding">
                                <md-card-title-text>
                                    <span class="md-title my-md-smooth-title">Será entregue no endereço:</span>
                                    <span class="md-subheader">{{vm.shipAddress.endereco}}, {{vm.shipAddress.numero}}, {{vm.shipAddress.complemento}}, {{vm.shipAddress.referencia}}, {{vm.shipAddress.bairro}},
                                </span>
                                    <span class="md-subheader">CEP:{{vm.shipAddress.cep}}</span>
                                    <span class="md-subheader">{{vm.shipAddress.cidade}}</span>  <span class="md-subheader">{{vm.shipAddress.estado}}</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <md-divider></md-divider>
                        <div layout="column">
                            <div layout="row">
                                <md-card flex="50" layout="column" class="my-md-no-shadow">
                                    <md-card-title>
                                        <h4 class="md-title">Entrega 1 de 1</h4>
                                    </md-card-title>
                                    <md-card-content>
                                        <md-divider></md-divider>
                                        <md-card ng-repeat="prd in vm.kartData" class="my-md-no-margin my-md-no-shadow my-md-no-round-border">
                                            <md-divider></md-divider>

                                            <md-card-content class="my-md-no-padding">
                                                <md-list class="my-md-no-padding">
                                                    <md-list-item class="md-3-line">
                                                        <div class="md-list-item-text md-long-text" layout="column">
                                                            <h3 class="my-md-capital">{{prd.categoria}} {{prd.ref_PM}}</h3>
                                                            <p class="my-md-capital">{{prd.descricao}}</p>
                                                            <p>Quantidade:{{prd.buyQty}}</p>
                                                        </div>
                                                    </md-list-item>
                                                </md-list>
                                            </md-card-content>
                                        </md-card>
                                    </md-card-content>
                                </md-card>
                                <md-divider></md-divider>
                                <md-card flex="50" class="my-md-no-shadow my-md-no-margin" style="background-color:#f5f5f5	">
                                    <md-card-title flex="none">
                                        <h4 class="md-title">Tipo de entrega</h4>
                                    </md-card-title>
                                    <md-card-content>
                                        <md-list>
                                            <md-list-item ng-repeat="deliveryOption in vm.deliveryOptions" layout="row" layout-align="end space-between">
                                                <div flex="80">
                                                    <md-radio-group ng-model="vm.selDeliveryOptions" ng-click="vm.getDeliveryType($index)">
                                                        <md-radio-button value="{{deliveryOption.type}}">{{deliveryOption.type}}:&nbsp;{{deliveryOption.text}}</md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                                <!--                                            <p class="md-secondary">R$ {{shipOption.cost}}</p>-->
                                                <div flex="20" layout-margin>
                                                    R$ {{deliveryOption.cost}}
                                                </div>


                                            </md-list-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <md-divider></md-divider>
                        <div layout="row" layout-align="space-between" layout-margin>
                            <md-button class="md-raised md-warn" ng-click="vm.enableNextTab(vm.selectedIndex-2)">Alterar endereço</md-button>
                            <md-button class="md-raised md-primary" ng-click="vm.enableNextTab(vm.selectedIndex)">Ir para o pagamento</md-button>
                        </div>

                    </md-content>
                </md-tab>
                <md-tab ng-disabled="vm.isNextTabEnable[2]" label="Pagamento">
                    <md-content>
                        <div layout="row">
                            <md-card flex="50" layout="column" class="my-md-no-shadow">
                                <md-card-title>
                                    <h4 class="md-title">Produtos</h4>
                                </md-card-title>
                                <md-card-content>
                                    <md-divider></md-divider>
                                    <md-card ng-repeat="prd in vm.kartData" class="my-md-no-margin my-md-no-shadow my-md-no-round-border">
                                        <md-divider></md-divider>

                                        <md-card-content class="my-md-no-padding">
                                            <md-list class="my-md-no-padding">
                                                <md-list-item class="md-3-line">
                                                    <div class="md-list-item-text md-long-text" layout="column">
                                                        <h3 class="my-md-capital">{{prd.categoria}} {{prd.ref_PM}}</h3>
                                                        <p class="my-md-capital">{{prd.descricao}}</p>
                                                        <p>Quantidade:{{prd.buyQty}}-{{ prd.selDelivery.text}}</p>
                                                    </div>
                                                </md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                                </md-card-content>
                            </md-card>
                            <md-divider></md-divider>
                            <md-card flex="50" class="my-md-no-shadow my-md-no-margin">
                                <md-card-title flex="none">
                                    <h4 class="md-title">EScolha a forma de pagamento</h4>
                                </md-card-title>
                                <md-card-content>
                                    <md-tabs>
                                        <md-tab label="Cartão de crédito">
                                            <md-list layout="row">
                                                <md-list-item ng-repeat="creditCard in vm.creditCardType">
                                                    <md-radio-group ng-model="vm.payOption">
                                                        <md-radio-button value="{{creditCard.name}}" ng-click="vm.getPayOption(vm.payOption)">
<!--															{{creditCard.name}}-->
															<i class='{{creditCard.icon}}'></i>
                                                        </md-radio-button>
                                                    </md-radio-group>
                                                </md-list-item>
                                            </md-list>
                                            <form name="FormCreditCard">
                                                <div layout="column">
                                                    <md-input-container>
                                                        <label>Número do cartão</label>
                                                        <input type="text" required>
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Nome do titular</label>
                                                        <input type="text" required>
                                                    </md-input-container>
                                                    <md-datepicker class="md-block" ng-model="user.submissionDate" md-placeholder="Data de validade date">
                                                    </md-datepicker>
                                                    <md-input-container>
                                                        <label>Código de segurança</label>
                                                        <input type="text" required>
                                                    </md-input-container>
                                                    <md-input-container>
                                                        <label>Número de parcelas</label>
                                                        <md-select ng-model="teste">
                                                            <md-option value="100">3x sem juros de R$ 35
                                                            </md-option>
                                                            <md-option value="100">3x sem juros de R$ 25
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </form>
                                        </md-tab>
                                        <md-tab label="Boleto"></md-tab>
                                    </md-tabs>
                                    <div style="background-color:#f5f5f5">
                                        <h4 class="md-title my-md-smooth-title">Subtotal: {{vm.kartTotal | currency:"R$ " }}</h4>
                                        <h4 class="md-title my-md-smooth-title">Frete:&nbsp;{{vm.kartData[0].selDelivery.cost  | currency:"R$ "}}</h4>
                                        <h2 class="md-headline my-md-smooth-title">Valor total a pagar: &nbsp; {{vm.buyTotal | currency:"R$ " }}</h2>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                        <md-card-actions layout="row" layout-align="space-between">
                            <md-button class="md-raised md-primary" ng-click="vm.enableNextTab(vm.selectedIndex-2)">
                                <md-icon class="material-icons">keyboard_arrow_left</md-icon>Alterar Tipo de entraga</md-button>
                            <md-button class="md-raised md-primary" ng-click="vm.enableNextTab(vm.selectedIndex)">Finalizar compra</md-button>
                        </md-card-actions>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card-content>
</md-card>