<md-card class="my-md-no-margin">
    <md-card-title layout="column">
        <h2 class="md-headline">Contate-nos</h2>
    </md-card-title>
    <md-card-content layout="column">
        <div flex>
            <p layout="column" flex="50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum sem vitae tincidunt mollis. Quisque ut erat vitae magna malesuada bibendum vel ac justo. Nam pharetra vestibulum scelerisque. Phasellus pellentesque dignissim scelerisque. In at ligula interdum erat viverra volutpat. Donec pellentesque massa eu commodo scelerisque. In in tempor lacus. Curabitur aliquet risus nec tortor eleifend,</p>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <md-card layout="column" flex="50" class="my-md-no-shadow my-md-no-margin">
                <md-card-title>
                    <span class="md-title">Envie-nos uma mensagem</span>
                </md-card-title>
                <md-card-content>
                    <form name="contactForm">
                        <div layout="column">
                            <md-input-container>
                                <label>Seu nome</label>
                                <input type="text" ng-model="contact.name" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Seu email</label>
                                <input type="email" ng-model="contact.email" required>
                            </md-input-container>
                            <md-input-container>
                                <label>Assunto</label>
                                <input type="text" ng-model="contact.subject" required>
                            </md-input-container>
                            <md-input-container>
                                <textarea placeholder="Escreva a sua mensagem aqui" cols="1" ng-model="contact.text" required></textarea>
                            </md-input-container>

                        </div>
                        <md-button flex class="md-primary" ng-class="{'md-raised':contactForm.$dirty && contactForm.$valid}" type="submit">Enviar</md-button>
                    </form>
                </md-card-content>
            </md-card>
            <md-card flex="50" class="my-md-grey-bg my-md-no-shadow my-md-no-margin">
                <md-card-title>
                    <span class="md-title">Nossos contatos</span>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            <md-icon class="my-md-contact-icon material-icons md-primary md-hue-1">phone</md-icon>
                            <p class="md-subhead my-md-smooth-title"><b>(91)333-333</b>
                            </p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="my-md-contact-icon material-icons md-primary md-hue-1">phone_iphone</md-icon>
                            <p class="md-subhead my-md-smooth-title"><b>(91)333-333</b>
                            </p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="my-md-contact-icon material-icons md-primary md-hue-1">email</md-icon>
                            <p class="md-subhead my-md-smooth-title"><b>pppm@gmail.com</b>
                            </p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="my-md-contact-icon material-icons md-primary md-hue-1">location_on</md-icon>
                            <p class="md-subhead my-md-smooth-title"><b>Rodovia augusto montenegro, Bl02, apt.303</b>
                            </p>
                        </md-list-item>
                    </md-list>
                    <div class="my-md-contact-map">
                        
                    </div>
                    <md-card-title><span class="md-title">Siga-nos</span>
                    </md-card-title>
                </md-card-content>
            </md-card>
        </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-divider></md-divider>
</md-card>
