<div ng-controller="productCatNavBar as vm" style="margin-top:2%">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <div class="nav navbar-nav">
                    <div id="product-nav-subcategory">

                        <ul class="nav navbar-nav prd-section-navbar">
                            <div layout="row" layout-align="center center">
                                <li class="menu-large" ng-repeat="prdctNavCat in vm.productNavCategories" dropdown is-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false" dropdown on-toggle="toggled(open)" auto-close="outsideClick">
                                    <a class="dropdown-toggle" ng-disabled="disabled" ui-sref="app.produtos.section({section:prdctNavCat.name})" ng-mouseenter="vm.getSelectedProductSection(prdctNavCat.name)"> <span class="navbarIcons"><i class="material-icons">{{prdctNavCat.icon}}</i></span><span class="section-name">{{prdctNavCat.name}}</span>
                                    </a>

                                    <!--                                <a ui-sref="app.produtos.section({section:prdctNavCat.name})" ng-mouseenter="vm.getSelectedProductSection(prdctNavCat.name)" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled"><span class="navbaIcons"><i class="material-icons">{{prdctNavCat.icon}}</i></span>{{prdctNavCat.name}}</a>-->
                                    <!--                                    </li>-->
                                    <!--                                </ul>-->

                                    <ul class="dropdown-menu full-screen-menu row" role="menu" aria-labelledby="single-button">
                                        <div class="container" layout="row" layout-align="space-around center">
                                            <!--                                            <li flex layout-align="center center" class="prd-sub-menu" role="menuitem" ng-repeat="prdctNavSubCat in vm.productNavCategories[$index].subcat" ng-mouseenter="vm.getSelectedSubMenu($index)" ng-mouseleave="vm.getSelectedSubMenu($index)" ng-click="isCollapsed = true">-->
                                            <li flex layout-align="center center" class="prd-sub-menu" role="menuitem" ng-repeat="prdctNavSubCat in vm.productNavCategories[$index].subcat" ng-click="vm.collapseSubSubMenu($index,vm.subCatisCollapsed[$index])">
                                                <!--                                                <a ng-click="vm.getSelectedCategory(prdctNavSubCat.name)" ui-sref="app.produtos.section.category({section:prdctNavCat.name, category:prdctNavSubCat.name})">-->
                                                <a data-toggle="collapse" data-target="#sub-sub-menu-{{$index}}" ng-click="vm.getSelectedCategory(prdctNavSubCat.name)">

                                                    <!--                                                                                                      <div layout="row">-->
                                                    <!--                                                        <div flex>-->
                                                    <img src="{{prdctNavSubCat.imgPath}}">

                                                    <h3 class="md-subhead">{{prdctNavSubCat.name}}</h3>
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->
                                                </a>
                                                <!--
                                                <div flex ng-repeat="subsubsection in vm.productNavCategories[$index].subcat[$index].subsubcat">
                                                    <a href="#">
                                                       {{subsubsection}}                                          
                                                            </a>
                                                </div>
-->
                                            </li>

                                            <!--                                            <div class="colapse" id="sub-sub-menu" ng-repeat="prdctNavSubSubCat in vm.productNavSubcategories">-->
                                            <!--                                                <div class=">-->

                                            <!--                                                </div>-->
                                            <!--                                            </div>-->

                                        </div>
                                        <!--                                        <div ng-repeat="prdctNavSubSubCat in vm.productNavSubcategories">-->
                                        <!--                                            {{prdctNavSubSubCat}}-->
                                        <!--                                            <div class="colapse prd-nav-submenu" id="sub-sub-menu" collapse="vm.subCatisCollapsed">-->
                                        <!--                                            <div class="coll[0apse" ng-class="vm.isCollapsedSubSubMenu=in" id="sub-sub-menu-{{$index}}">-->
                                        <!--                                            <div collapse="vm.subCatisCollapsed[$index]">-->
                                        <!--
                                        <div ng-repeat="(section, value) in vm.productNavSubcategories[$index]">Key: {{section}} value: {{value}}
                                            <div ng-repeat="subsection in value">
                                                <div collapse=vm.subCatisCollapsed[$index]>
                                                    <div class="well well-lg">
                                                        <div layout="row" layout-align="center center">
                                                            <div flex ng-repeat="subsection in value[$index].itens">
                                                                <a href="#">
                                                       {{subsection}}                                          
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
-->



                                        <div ng-repeat="(section, value) in vm.productNavCategories[$index].subcat">
                                            Key: {{section}} value: {{value}}
                                            <!--                                            <div flex ng-repeat="(subsection, value) in value.subsubcat">-->
                                            <!--                                                <h1>Index:{{$index}} {{value.name}}</h1>-->
                                            <div collapse=vm.subCatisCollapsed[$index]>
                                                <div class="well well-lg">
                                                    <div layout="row" layout-align="center center">
                                                        <div flex ng-repeat="(subsection, value) in value.subsubcat">
                                                            <a href="#">
                                                   {{value.name}}                                          
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                            </div>-->
                                        </div>
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!--
    <div id="mainmenu" class="row">

        <div class="list-group panel">
            <a href="#menupos1" class="list-group-item" data-toggle="collapse" data-parent="#mainmenu">Pos1 <span class="menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
            <div class="collapse pos-absolute" id="menupos1">
                <a href="#submenu1" class="list-group-item sub-item" data-toggle="collapse" data-parent="#submenu1">SubPos1 <span class=" menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
                <div class="collapse list-group-submenu" id="submenu1">
                    <a href="#" class="list-group-item sub-sub-item" data-parent="#submenu1">SubSubPos1</a>
                    <a href="#" class="list-group-item sub-sub-item" data-parent="#submenu1">SubSubPos2</a>
                    <a href="#" class="list-group-item sub-sub-item" data-parent="#submenu1">SubSubPos3</a>
                    <a href="#" class="list-group-item sub-sub-item" data-parent="#submenu1">SubSubPos4</a>
                </div>
                <a href="#" data-toggle="collapse" data-target="#menupos1" class="list-group-item sub-item">SubPos2</a>
                <a href="#" data-toggle="collapse" data-target="#menupos1" class="list-group-item sub-item">SubPos3</a>
                <a href="#" data-toggle="collapse" data-target="#menupos1" class="list-group-item sub-item">SubPos4</a>
                <a href="#" data-toggle="collapse" data-target="#menupos1" class="list-group-item sub-item">SubPos5</a> 
            </div>
        </div>

    </div>
-->


    <!--
    <div class="mega-menu">
        <ul>
            <li>
                <a href="#menupos1" class="list-group-item" data-toggle="collapse" data-parent="#mainmenu">Pos1 <span class="menu-ico-collapse"><i class="glyphicon glyphicon-chevron-down"></i></span></a>
            </li>
        </ul>
        <ul class="collapse pos-absolute" id="menupos1">
            <li>
                <a href="#submenu1" class="list-group-item sub-item" data-toggle="collapse" data-target="#submenu1">SubPos1
                </a>
                <ul class="collapse" id="submenu1">
                    <li class="list-group-item sub-sub-item"><a href="#">SubSubPos1</a>
                    </li>
                    <li class="list-group-item sub-sub-item"><a href="#">SubSubPos2</a>
                    </li>

                </ul>
            </li>

        </ul>

    </div>
-->

