<div ng-controller="productCatNavBar as vm" style="margin-top:2%">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <div class="nav navbar-nav">
                    <div id="product-nav-subcategory">

                        <ul class="nav navbar-nav prd-section-navbar">
                            <div layout="row" layout-align="center center">
                                <li ng-repeat="prdctNavCat in vm.productNavCategories" dropdown is-open="isOpen" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false" dropdown on-toggle="toggled(open)">
                                    <a class="dropdown-toggle" ng-disabled="disabled" ui-sref="app.produtos.section({section:prdctNavCat.name})" ng-mouseenter="vm.getSelectedProductSection(prdctNavCat.name)"> <span class="navbarIcons"><i class="material-icons">{{prdctNavCat.icon}}</i></span><span class="section-name">{{prdctNavCat.name}}</span></a>

                                    <!--                                <a ui-sref="app.produtos.section({section:prdctNavCat.name})" ng-mouseenter="vm.getSelectedProductSection(prdctNavCat.name)" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled"><span class="navbaIcons"><i class="material-icons">{{prdctNavCat.icon}}</i></span>{{prdctNavCat.name}}</a>-->
                                    <!--                                    </li>-->
                                    <!--                                </ul>-->
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li role="menuitem" ng-repeat="prdctNavSubCat in vm.productNavSubcategories[$index]" ng-mouseenter="vm.getSelectedSubMenu($index)" ng-mouseleave="vm.getSelectedSubMenu($index)">
                                            <a ng-click="vm.getSelectedCategory(prdctNavSubCat.name)" ui-sref="app.produtos.section.category({section:prdctNavCat.name, category:prdctNavSubCat.name})">
                                                <img src="{{prdctNavSubCat.imgPath}}">
                                                <span class="subcategory-name">{{prdctNavSubCat.name}}</span>
                                            </a>
                                        </li>
                                         <li class="divider"></li>
                                         <li role="menuitem"><a href="#">Mais sobre {{prdctNavCat.name}}</a></li>
                                        
                                    </ul>

                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
