/* line 4, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.my-md-menu-top {
  max-height: 20px !important;
  background-color: #fff9f9 !important; }
  /* line 7, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .my-md-menu-top .md-button {
    color: #3F79C2 !important;
    text-transform: capitalize; }

/* line 12, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
#my-breadcrumb {
  font-size: 12px; }

/* line 15, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.my-md-link-btn {
  margin: 0 !important;
  line-height: 20px !important;
  min-height: auto !important; }
  /* line 21, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .my-md-link-btn .hover {
    text-decoration: underline !important;
    background-color: inherit !important; }

/* line 26, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.my-md-icon-btn {
  padding: 0px !important;
  line-height: inherit !important;
  min-height: auto !important;
  min-width: inherit !important; }

/* line 32, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.groupX {
  font-size: 16px;
  margin: 20px 0 !important;
  text-transform: none !important;
  font-weight: 400 !important;
  min-width: 10px !important;
  min-height: 28px !important;
  line-height: 10px !important; }

/* line 44, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.md-button.left {
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(230, 230, 230, 0.96); }

/* line 48, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.md-button.middle {
  border-radius: 0;
  border: 1px solid rgba(230, 230, 230, 0.96); }

/* line 54, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.md-button.right {
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(230, 230, 230, 0.96); }

/* line 58, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.md-button:not([disabled]):hover {
  background-color: rgba(193, 193, 193, 0.96);
  color: rgba(44, 65, 164, 0.96);
  transition: 0.3s; }

/* line 78, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.prd-list-table {
  text-align: center; }
  /* line 79, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .prd-list-table tr:nth-child(odd) {
    background-color: #f1f1f1; }
  /* line 90, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .prd-list-table tr {
    height: 250px;
    max-height: 300px;
    min-height: 100px;
    text-align: center; }
  /* line 98, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .prd-list-table .my-md-ordering-btn {
    height: auto !important;
    background-color: aliceblue !important;
    text-align: center; }
  /* line 109, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .prd-list-table thead th {
    text-align: center !important;
    padding: 1%; }
  /* line 113, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
  .prd-list-table thead tr {
    height: 10px !important;
    background-color: white !important; }

/*Product detail*/
/* line 123, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
#main-product-detail-box md-list-item, #main-product-detail-box md-list-item .md-list-item-inner {
  min-height: 48px !important; }

/*-----------------------------------------------------*/
/*Cart*/
/* line 131, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.my-cart-table {
  td: nth-child(2);
    td-width: 60%;
    td-text-align: left; }

/* line 138, C:/Home Solutions/projetos/siteCordeiroEletronicos/code/cordeiroEletronicosApp/public/assets/scss/style.scss */
.md-toast {
  max-height: 100%;
  z-index: 10000;
  padding: 0 !important; }

/*# sourceMappingURL=style.css.map */