//colors
$indigo:#3F51B5;
 $light_bue:#03A9F4;
 .my-md-menu-top {
    min-height: 100% !important;
     height: 40px !important;
//    background-color: #fff9f9 !important;
    //    min-height: 34px !important;
    //     font-size: 12px !important;
//    .md-button {
//        color: #3F79C2 !important;
//        text-transform: capitalize;
//    }
}
//.my-nav-bar-menu {
////    .md-button {
//        padding: 2.2% inherit!important;
////    }
//}

.breadcrumb {
    margin-bottom: 0px;
    font-size: 12px;

}
// Rules for sizing the icon.
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-60 {
    font-size: 60px;
}
.material-icons.md-72 {
    font-size: 72px;
}
.my-md-link-btn {
    // this style applies to all link buttons
    //We change the some md-button attributes to fit a li>a link
    margin: 0 !important;
//    padding: 0 !important;
    line-height: 20px !important;
    color: #00695C !important;
    min-height: auto !important;
    text-transform: capitalize !important;
    min-width: 20px !important;
    font-size: 12px !important;
    &:hover {
        text-decoration: underline !important;
        background-color: inherit !important;
      
    }
}
.my-md-icon-btn {
    padding: 0px !important;
    line-height: inherit !important;
    min-height: inherit !important;
    min-width: inherit !important;
    height: 24px !important;
    width: 24px !important;
}
.groupX {
    font-size: 16px;
    margin: 20px 0 !important;
    //    padding: 3px 15px 3px 15px !important;
    //    color: rgb(49, 46, 46) !important;
    //    background-color: rgba(224, 224, 224, 0.96) !important;
    text-transform: none !important;
    font-weight: 400 !important;
    min-width: 10px!important;
    min-height: 28px!important;
    line-height: 10px !important;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
    border: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.middle {
    border-radius: 0;
    border: 1px solid rgba(230, 230, 230, 0.96);
    //    border-right: 1px solid rgba(230, 230, 230, 0.96);

}
.md-button.right {
    border-radius: 0 10px 10px 0;
    border: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    background: white;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}
.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}
.subsect-menu {
    .md-media-md {
        text-align: center;
        min-height: 150px !important;
        img {}
    }
}
////Product page
 .prd-list-table {
    tr: nth-child(odd) {
        background-color: #f1f1f1;
    }
    text-align:center;
    td {} tr {
        height: 50px;
        max-height: 300px;
        min-height: 100px;
        text-align: center;
    }
    .my-md-ordering-btn {
        height: auto !important;
        background-color: aliceblue !important;
        text-align: center;
    }
    thead {
        th {
            text-align: center!important;
            padding: 1%;
        }
        tr {
            height: 5px !important;
            background-color: white!important;
        }
    }
}
/*Product detail*/

#main-product-detail-box {
    md-list-item, md-list-item .md-list-item-inner {
        min-height: 48px !important;
    }
}
/*-----------------------------------------------------*/

/*Cart*/

.my-cart-table {
    td: nth-child(2) {
        width: 60%;
        text-align: left;
    }
}
.md-toast {
    max-height: 100%;
    z-index: 10000;
    padding: 0 !important;
}