/* line 4, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-md-menu-top {
  min-height: 100% !important;
  height: 40px !important; }

/* line 18, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-md-list-item img {
  max-width: 100%;
  align-content: center; }

/* line 23, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-md-list-item p {
  text-align: center !important;
  font-size: 14px;
  font-weight: bolder; }

/* line 32, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-list-item .md-list-item-inner {
  height: 25px !important; }

/*Customize the menu bar to fit toolbar hight*/
/* line 45, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-md-rotate-90 {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg); }

/* line 51, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.cssSlideUp {
  transition: .5s linear all;
  height: 300px;
  overflow: hidden; }

/* line 56, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.cssSlideUp.ng-hide {
  height: 0; }

/* line 60, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.full-menu {
  display: block;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0; }

/* line 73, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.submenu {
  background-color: cornflowerblue;
  /* For Safari 3.1 to 6.0 */ }

/* line 86, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
md-menu-bar {
  background-color: blueviolet !important; }
  /* line 98, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
  md-menu-bar button {
    height: 100% !important;
    width: !important; }

/* line 103, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
md-menu-item {
  height: 100% !important; }

/* line 106, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
md-menu-content {
  max-height: 100% !important; }

/* line 109, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.md-open-menu-container {
  position: fixed;
  left: 0% !important;
  top: 0;
  right: 0% !important;
  z-index: 100;
  opacity: 0;
  border-radius: 2px; }

/* line 118, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.breadcrumb {
  margin-bottom: 0px;
  font-size: 12px; }

/* line 123, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.material-icons.md-18 {
  font-size: 18px; }

/* line 126, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.material-icons.md-24 {
  font-size: 24px; }

/* line 129, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.material-icons.md-36 {
  font-size: 36px; }

/* line 132, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.material-icons.md-48 {
  font-size: 48px; }

/* line 135, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.material-icons.md-60 {
  font-size: 60px; }

/* line 138, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.material-icons.md-72 {
  font-size: 72px; }

/* line 141, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-md-link-btn {
  margin: 0 !important;
  line-height: 20px !important;
  color: #00695C !important;
  min-height: auto !important;
  text-transform: capitalize !important;
  min-width: 20px !important;
  font-size: 12px !important; }
  /* line 152, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
  .my-md-link-btn:hover {
    text-decoration: underline !important;
    background-color: inherit !important; }

/* line 157, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-md-icon-btn {
  padding: 0px !important;
  line-height: inherit !important;
  min-height: inherit !important;
  min-width: inherit !important;
  height: 24px !important;
  width: 24px !important; }

/* line 165, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.groupX {
  font-size: 16px;
  margin: 20px 0 !important;
  text-transform: none !important;
  font-weight: 400 !important;
  min-width: 10px !important;
  min-height: 28px !important;
  line-height: 10px !important; }

/* line 177, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.md-button.left {
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(230, 230, 230, 0.96); }

/* line 181, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.md-button.middle {
  border-radius: 0;
  border: 1px solid rgba(230, 230, 230, 0.96); }

/* line 187, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.md-button.right {
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(230, 230, 230, 0.96); }

/* line 191, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.md-button:not([disabled]):hover {
  background-color: rgba(193, 193, 193, 0.96);
  color: rgba(44, 65, 164, 0.96);
  transition: 0.3s; }

/* line 196, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white; }

/* line 203, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  transition: all linear 0.5s; }

/* line 206, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px; }

/* line 212, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.subsect-menu .md-media-md {
  text-align: center;
  min-height: 150px !important; }

/* line 219, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.prd-list-table {
  tr: nth-child(odd);
    tr-background-color: #f1f1f1;
  text-align: center; }
  /* line 224, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
  .prd-list-table tr {
    height: 50px;
    max-height: 300px;
    min-height: 100px;
    text-align: center; }
  /* line 230, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
  .prd-list-table .my-md-ordering-btn {
    height: auto !important;
    background-color: aliceblue !important;
    text-align: center; }
  /* line 236, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
  .prd-list-table thead th {
    text-align: center !important;
    padding: 1%; }
  /* line 240, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
  .prd-list-table thead tr {
    height: 5px !important;
    background-color: white !important; }

/*Product detail*/
/* line 249, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
#main-product-detail-box md-list-item, #main-product-detail-box md-list-item .md-list-item-inner {
  min-height: 48px !important; }

/*-----------------------------------------------------*/
/*Cart*/
/* line 257, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
.my-cart-table {
  td: nth-child(2);
    td-width: 60%;
    td-text-align: left; }

/* line 263, C:/Home Solutions/projetos/siteCordeiroEletronicos/e-store/public/assets/scss/style.scss */
md-toast .md-toast-content {
  height: 100% !important;
  max-height: 100% !important; }

/*css anmations*/

/*# sourceMappingURL=style.css.map */