//colors
$indigo:#3F51B5;
 $light_bue:#03A9F4;
 .my-md-menu-top {
    max-height: 20px !important;
    background-color: #fff9f9 !important;
    .md-button {
        color: #3F79C2 !important;
        text-transform: capitalize;
    }
}
#my-breadcrumb {
    font-size: 12px;
}
//Product page
table,
th,
td {
    //    border: 1px solid grey;
    //    border-collapse: collapse;
    //    padding: 5px;
    text-align: center;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
/*Product detail*/

#main-product-detail-box {
    md-list-item, md-list-item .md-list-item-inner {
        min-height: 48px !important;
    }
}
/*-----------------------------------------------------*/

/*Cart*/

.my-cart-table {
    td: nth-child(2) {
        //          background-color: aqua !important;
        width: 60%;
        text-align: left;
    }
}
.md-toast{
   max-height: 100%;
    z-index: 10000;
}