        //colors
        //md-content {
        //    overflow: hidden !important;
        //}
        $indigo:#3F51B5;
        $light_bue:#03A9F4;
        .my-md-normlWhiteSpace {
            white-space: normal !important;
        }
        
        .my-md-warn-DeepOrange {
            color: #FF5722;
        }
        
        .my-md-warn-grey {
            color: #4CAF50
        }
        
        .my-md-menu-top {
            min-height: 100% !important;
            height: 40px !important;
            .md-button {
                height: 100% !important;
                border-radius: 0px;
                line-height: auto !important;
            }
            //    background-color: #fff9f9 !important;
            //    min-height: 34px !important;
            //     font-size: 12px !important;
            //    .md-button {
            //        color: #3F79C2 !important;
            //        text-transform: capitalize;
            //   }
        }
        
        //Angular property
        .md-subheader {
            background: transparent !important;
        }
        
        //----------------------------------
        .dashboard-edit {
            transition: bottom 0.3s linear;
            position: relative;
            //    left: 0px;
            //    right: 0px;
            //    bottom: 0px;
            bottom: 0px;
            overflow: hidden;
            //    z-index: 10;
            background-color: #f5f5f5;
        }
        
        .dashboard-edit.ng-hide {
            bottom: -544px;
            overflow: hidden;
        }
        
        .userAddress {
            transition: top 0.3s linear;
            position: relative;
            top: 0px;
        }
        
        .userAddress.ng-hide {
            top: -544px;
        }
        
        .md-button {
            text-transform: none !important;
        }
        
        //=====================================================
        //rules bellow are for my list tables with md-card
        .even {
            background-color: white;
        }
        
        .odd {
            background-color: #fafafa;
        }
        
        .my-md-no-margin {
            margin: 0 !important;
        }
        
        .my-md-no-margin-top {
            margin-top: 0 !important;
        }
        
        .my-md-grey-bg {
            background-color: #f5f5f5;
        }
        
        .my-md-no-padding {
            padding: 0px !important;
        }
        
        .my-md-noround-border {
            border-radius: 0 !important;
        }
        
        .my-md-circle {
            border-radius: 50% !important;
        }
        
        .my-md-btn-icon-below {
            line-height: inherit !important;
        }
        
        .my-md-float-btn {
            position: absolute !important;
        }
        
        .my-md-smooth-title {
            color: rgba(0, 0, 0, 0.54) !important;
        }
        
        //====================================================
        .my-md-toolbar-header {
            font-size: 14px !important;
            background-color: #f5f5f5 !important;
            color: rgba(0, 0, 0, 0.87) !important;
        }
        
        // For text and titles
        .my-md-capital {
            text-transform: capitalize;
        }
        
        .my-md-no-shadow {
            box-shadow: none;
        }
        
        .my-md-notextTransform {
            text-transform: none !important;
        }
        
        .my-top-nav-bar {
            z-index: 222 !important;
        }
        
        .my-md-lowercase {
            text-transform: lowercase !important;
        }
        
        .my-md-border-bottom {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12)
        }
        
        .my-md-no-margin-bot {
            margin-bottom: 0;
        }
        
        .my-md-no-margin-top {
            margin-top: 0;
        }
        
        .my-md-no-margin-left {
            margin-left: 0;
        }
        
        .my-md-no-margin-right {
            margin-right: 0;
        }
        
        .my-md-no-padding-right {
            padding-right: 0;
        }
        
        .my-md-no-padding-left {
            padding-left: 0;
        }
        
        .my-md-no-padding-top {
            padding-top: 0;
        }
        
        .my-md-no-padding-bot {
            padding-bottom: 0;
        }
        
        .my-md-displayInline {
            display: inline !important;
        }
        
        //.my-md-full-heigth{
        ////	height: 100% !important;
        //	background-color: red !important;
        //	min-height: 64px !important
        //}
        .my-md-list-item.active-menu {
            &:after {
                content: '';
                display: block;
                height: 6px;
                width: 0;
                background: transparent;
                //        transition: width .5s ease, background-color .5s ease;
            }
            //	    &{
            //		width: 100%;
            background-color:rgba(0, 128, 128, 0.21);
            transition:border-width 0.3s linear;
            //    }
            //	width: 6px;
            border-width:100%;
            border-bottom:solid 6px teal
        }
        
        .my-md-icon-fit {
            padding: 0 !important;
            margin: 0 !important;
        }
        
        .my-md-menu-item {
            //    &:after{
            //        content: '';
            //        display: block;
            //        height: 6px;
            //        width: 0;
            background: transparent;
            //        transition: width .5s ease, background-color .5s ease;
            //    }
            img {
                max-width: 100%;
                align-content: center;
            }
            p {
                text-align: center !important;
                font-size: 14px;
                font-weight: bolder;
                //        margin-bottom: 0;
                color: #dde3e8;
            }
            //    &:hover:after{
            //		width: 100%;
            //        background: teal;
            //    }
        }
        
        //.my-list-item {
        //    .md-list-item-inner {
        //        height: 25px !important;
        //    }
        //}
        .my-md-filter-list {
            md-list-item-inner {
                height: 25px !important;
            }
        }
        
        .my-nav-bar-menu {
            z-index: 100;
        }
        
        .kart-list {
            md-list {
                md-list-item {
                    min-height: auto!important;
                }
            }
        }
        
        .kart-total {
            background-color: #f5f5f5 !important;
        }
        /*Customize the menu bar to fit toolbar hight*/
        
        //    position: relative;
        .my-md-rotate-90 {
            -ms-transform: rotate(90deg);
            /* IE 9 */
            -webkit-transform: rotate(90deg);
            /* Chrome, Safari, Opera */
            transform: rotate(90deg);
        }
        
        .cssSlideUp {
            -webkit-transition: .5s linear all;
            -moz-transition: .5s linear all;
            -o-transition: .5s linear all;
            transition: .5s linear all;
            //	min-height: 150px;
            height: 300px;
            overflow: hidden;
            display: block;
            //    margin-top: 0;
            //    padding: 3% 0;
        }
        
        .cssSlideUp.ng-hide {
            height: 0;
        }
        
        .slideUpDown {
            //	max-height: 500px;
            line-height: 30px;
            opacity: 1;
            //    	max-height: 100%;
            overflow: hidden;
            //    display: block;
            -webkit-transition: .5s linear all;
            -moz-transition: .5s linear all;
            -o-transition: .5s linear all;
            transition: line-height 1s linear all;
        }
        
        .slideUpDown.ng-hide {
            max-height: 0;
            line-height: 0;
            opacity: 0;
        }
        
        .full-menu {
            position: absolute;
            //        background-color: white;
            left: 0;
            right: 0;
            z-index: 10;
            top: 62px;
            overflow: hidden;
            transition: top 0.5s ease-in 0.1s, left 0s linear 0.25s;
            -webkit-transition: top 0.5s ease-in 0.1s, left 0s linear 0.25s;
            -moz-transition: top 0.5s ease-in 0.1s, left 0s linear 0.25s;
            -o-transition: top 0.5s ease-in 0.1s, left 0s linear 0.25s;
        }
        
        .full-menu.ng-hide {
            top: -560px;
        }
        
        //.full-menu.ng-hide {
        //    height: 0;
        //}
        .submenu {
            background-color: white;
            border-top: solid 1px rgba(255, 248, 248, 0.72);
            //    position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            position: absolute;
            top: 45%;
            padding: 2% !important;
            //    bottom: 24px;
            //	height: 220PX;
            //    height: 0px;
            //    -webkit-transition: height 2s;
            /* For Safari 3.1 to 6.0 */
            //    transition: height 2s;
            //    &: hover {
            //        background-color: red;
            //        height: 300px;
            //    }
            overflow: hidden;
            //    transition: left 1s linear;
            //    -webkit-transition: left 0.5s ease-in 0.1s, 0.8s 0s linear 0.25s;
            //    -moz-transition: left 0.5s ease-in 0.1s, left 0.8s linear 0.25s;
            //    -o-transition: left 0.5s ease-in 0.1s, left 0.8s linear 0.25s;
        }
        
        .subMenuItems {
            //	background-color: red;
            overflow: hidden;
            left: 0px;
            top: 0;
            bottom: 20px;
            //	right: 0;
            height: 100%;
            position: relative;
            transition: left 0.5s linear;
            //    -webkit-transition: left 0.5s ease-in 0.1s, 0.8s 0s linear 0.25s;
            //    -moz-transition: left 0.5s ease-in 0.1s, left 0.8s linear 0.25s;
            //    -o-transition: left 0.5s ease-in 0.1s, left 0.8s linear 0.25s;
        }
        
        .subMenuItems.ng-hide {
            left: -1000px;
        }
        
        .subMenuItems.ng-show {
            left: -1000px;
        }
        
        md-menu-bar {
            background-color: blueviolet !important;
            //            height: 100% !important;
            //            position: absolute !important;
            //         top: 0;
            //            right: 0;
            md-menu {
                //        height: 100% !important;
                //        width: 100% !important;
                //         position: absolute !important;
            }
            button {
                height: 100% !important;
                width: !important;
            }
        }
        
        .my-md-menu-item {
            z-index: 3;
            margin-bottom: inherit !important;
            //    background-color: transparent !important;
            md-card md-card-content {
                padding: 8px 8px 0px 8px !important;
            }
            .md-button {
                white-space: normal;
            }
            p {
                line-height: 20px!important;
                margin-bottom: 0;
            }
        }
        
        .my-md-menu-open {
            margin-bottom: 15% !important;
            //    background-color: transparent !important;
        }
        
        md-menu-content {
            max-height: 100% !important;
        }
        
        .md-open-menu-container {
            position: fixed;
            left: 0% !important;
            top: 0;
            right: 0% !important;
            z-index: 100;
            opacity: 0;
            border-radius: 2px;
        }
        
        .breadcrumbs-area {
            background-color: #f5f5f5 !important;
            .breadcrumb {
                margin-bottom: 0px;
                font-size: 12px;
                background-color: transparent
            }
        }
        
        // Rules for sizing the icon.
        .material-icons.md-18 {
            font-size: 18px;
            height: 18px;
            width: 18px;
        }
        
        .material-icons.md-24 {
            font-size: 24px;
            height: 24px;
            width: 24px;
        }
        
        .material-icons.md-36 {
            font-size: 36px;
            height: 36px;
            width: 36px;
        }
        
        .material-icons.md-48 {
            font-size: 48px;
            height: 48px;
        }
        
        .material-icons.md-60 {
            font-size: 60px;
            height: 60px;
        }
        
        .material-icons.md-96 {
            font-size: 96px !important;
            height: 96px;
            width: 96px;
        }
        
        .my-md-link-btn {
            // this style applies to all link buttons
            //We change the some md-button attributes to fit a li>a link
            &:hover {
                text-decoration: underline !important;
                background-color: inherit !important;
            }
            margin:0 !important;
            //    padding: 0 !important;
            //    line-height:20px !important;
            //    color:#00695C !important;
            min-height:auto !important;
            text-transform:none !important;
            min-width:20px !important;
            font-size:12px !important;
            font-weight:100 !important;
        }
        
        .my-md-icon-btn {
            padding: 0px !important;
            line-height: inherit !important;
            min-height: inherit !important;
            min-width: inherit !important;
            height: 24px !important;
            width: 24px !important;
        }
        
        .groupX {
            font-size: 16px;
            margin: 20px 0 !important;
            //    padding: 3px 15px 3px 15px !important;
            //    color: rgb(49, 46, 46) !important;
            //    background-color: rgba(224, 224, 224, 0.96) !important;
            text-transform: none !important;
            font-weight: 400 !important;
            min-width: 10px!important;
            min-height: 28px!important;
            line-height: 10px !important;
        }
        
        .md-button.left {
            border-radius: 10px 0 0 10px;
            border: 1px solid rgba(230, 230, 230, 0.96);
        }
        
        .md-button.middle {
            border-radius: 0;
            border: 1px solid rgba(230, 230, 230, 0.96);
            //    border-right: 1px solid rgba(230, 230, 230, 0.96);
        }
        
        .md-button.right {
            border-radius: 0 10px 10px 0;
            border: 1px solid rgba(230, 230, 230, 0.96);
        }
        
        .md-button:not([disabled]):hover {
            background-color: rgba(193, 193, 193, 0.96);
            color: rgba(44, 65, 164, 0.96);
            transition: 0.3s;
        }
        
        .logo {
            background-color: red;
            //	    min-height: 64px !important;
            //    border: none !important;
            //    text-transform: uppercase!important;
            //    font-size: 16px !important;
            //    padding: 0px 16px !important;
            //    margin: 0px !important;
        }
        
        .menu-button-sm {
            min-height: 56px !important;
            border: none !important;
            text-transform: uppercase!important;
            font-size: 16px !important;
            padding: 0px 16px !important;
            margin: 0px !important;
            line-height: 56px !important;
            display: block !important;
            border-radius: 0!important;
        }
        
        .menu-button-lg.menu-button-sm {
            min-height: 64px !important;
            line-height: 64px !important;
        }
        
        .animate-show {
            line-height: 20px;
            opacity: 1;
            padding: 10px;
            background: white;
        }
        
        .animate-show.ng-hide-add,
        .animate-show.ng-hide-remove {
            transition: all linear 0.5s;
        }
        
        .animate-show.ng-hide {
            line-height: 0;
            opacity: 0;
            padding: 0 10px;
        }
        
        .subsect-menu {
            .md-media-md {
                text-align: center;
                min-height: 150px !important;
                img {}
            }
        }
        
        ////Product page
        .prd-list-table {
            tr: nth-child(odd) {
                background-color: #f1f1f1;
            }
            text-align:center;
            td {}
            tr {
                height: 50px;
                max-height: 300px;
                min-height: 100px;
                text-align: center;
            }
            .my-md-ordering-btn {
                height: auto !important;
                background-color: aliceblue !important;
                text-align: center;
            }
            thead {
                th {
                    text-align: center!important;
                    padding: 1%;
                }
                tr {
                    height: 5px !important;
                    background-color: white!important;
                }
            }
        }
        /*Product detail*/
        
        #main-product-detail-box {
            md-list-item,
            md-list-item .md-list-item-inner {
                min-height: 48px !important;
            }
        }
        /*-----------------------------------------------------*/
        /*Cart*/
        
        .my-cart-table {
            td: nth-child(2) {
                width: 60%;
                text-align: left;
            }
        }
        
        md-toast .md-toast-content {
            height: 100% !important;
            max-height: 100%!important;
        }
        
        .my-md-filter-area {
            margin-top: 3% !important;
        }
        
        .prd-filter-list {
            md-list {
                //		border: solid 1px red;
            }
            md-card md-card-content {
                display: block;
                padding-top: 8px;
                //    padding: 0px 6px 0px 0px;
            }
            md-card-title {
                padding: 0px 14px;
            }
            md-list-item,
            md-list-item .md-list-item-inner {
                min-height: 0px !important;
                height: 32px !important;
                md-checkbox {
                    margin-right: 6px !important;
                }
            }
        }
        
        .link-btn {
            width: 100%;
            a {
                padding: 0px !important;
            }
        }
        
        .prd-info-list {
            md-list-item {
                padding: 0px !important;
            }
        }
        /*Contact*/
        
        .my-md-contact-icon {
            $border-size: 60px;
            border: 1px solid;
            border-radius: 50%;
            min-height: $border-size !important;
            min-width: $border-size !important;
            line-height: $border-size !important;
            text-align: center !important;
        }
        
        .my-md-social-icon.facebook {
            background-color: #3b5998;
        }
        
        .my-md-social-icon.twitter {
            background-color: #1baae1;
        }
        
        .my-md-social-icon.instagram {
            background-color: #4e433c;
        }
        
        .my-md-social-icon.youtube {
            background-color: #ff3333;
        }
        
        .my-md-social-icon.googleplus {
            background-color: #c63d2d;
        }
        
        .my-md-social-icon.linkedin {
            background-color: #4875b4;
        }
        
        .my-md-icon-36 {
            width: 36px;
            height: 36px;
        }
        
        .my-md-social-button {
            padding: 10px !important;
            margin: 0 !important;
            border-radius: 0 !important;
            min-height: 100% !important;
            min-width: 100% !important;
            min-height: 100% !important;
            line-height: 0 !important;
        }
        
        .angular-google-map-container {
            height: 400px;
        }
        
        .product-rating {
            position: relative;
        }
        
        .rating-pop-over {
            width: 200px;
            //    height: 150px;
            position: absolute;
            top: 36px;
            left: -30px;
            border: solid 1px;
            border-color: #f5f5f5;
            z-index: 4;
        }
        
        .rating-pop-over:after {
            content: "";
            position: absolute;
            top: -12px;
            left: 60px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-color: rgba(0, 0, 0, 0.12) transparent;
            display: block;
            width: 0;
            z-index: 0;
        }
        
        .rating-pop-over:before {
            content: "";
            position: absolute;
            top: -11px;
            left: 59px;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 13px solid;
            border-color: white transparent;
            display: block;
            width: 0;
            z-index: 1;
            overflow: hidden;
            //            border-style: solid 1px blue;
        }
        /*css anmations*/